.profileContentArea
  .profilePageHeader
    %h2.columnDescriptor
      %span
        Edit Staff Account
      
  =render :partial => "users/profile_nav"
  .listings
  
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %h2.boxDescription
          = @staff.full_name
      .contentBoxContent
      
        = error_messages_for :staff

        - form_for @staff, :html => {:class => 'StaffForm'} do |f|
          = render :partial => "form", :locals => { :f => f, :include_password => false }
          %p= f.submit "Update"


