.profileContentArea
  .profilePageHeader
    %h2.columnDescriptor
      %span
        Staff Accounts
      = @current_user.full_name

  .listings
  
    .listingItem
      = link_to 'New Staff Member', new_staff_path(), :class => 'genericButton'
  
    = render :partial => 'staff_listing', :collection => @staffs



    
