.RegContent
  .SideBar
    %h1
      Creating Staff Account
  .RegistrationContent
    .AccountType    
      = error_messages_for :staff

      - form_for @staff, :html => {:class => 'MainForm'} do |f|
        = render :partial => "form", :locals => { :f => f , :include_password => true }
        %p= f.submit "Create"
  

