.profileContentArea
  .profilePageHeader
    %h2.columnDescriptor
      %span
        Create Staff Account
      
  =render :partial => "users/profile_nav"
  .listings
  
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %h2.boxDescription
          Create Staff Account
      .contentBoxContent
  
        = error_messages_for :staff

        - form_for @staff, :html => {:class => 'StaffForm'} do |f|
          = render :partial => "form", :locals => { :f => f , :include_password => true }
          %p= f.submit "Create"
  

