%html
%body
  #flashAreaIFrame
    - flashvars = {}
    - flashvars[:dockeys]= @team_video_picks
    = render :partial => 'shared/video_player', :locals => {:target => 'flashAreaIFrame', :player_name => '/players/embeddedplayer.swf', :fvars => flashvars, :width=>'587px', :height=>'341px' }
  