%h1 Listing teams

%table.unstyled
  %thead
    %tr
      %th Name
      %th City
      %th County
      %th State
      %th Description
      %th Active
      %th/

  - for team in @teams
    %tbody
      %tr
      %td= link_to team.name, edit_team_path(team)
      %td=h team.city
      %td=h team.county_name
      %td=h team.state_id? ? team.state.name : ""
      %td=truncate h(team.description),45
      %td=h team.active
  
      %td= link_to 'Destroy', team_path(team), :confirm => 'Are you sure?', :method => :delete, :confirm => "Are you sure?", :method => :delete
    
= link_to 'New team', new_team_path 