.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        New Team Record
  .leftNavCol
    %h2.yellowHeader
      My Profile
    .leftNav
      =render :partial => "users/profile_nav"
  .listings
    .listingItem

      = error_messages_for :team 
      
      - form_for(@team) do |f| 
        = render :partial => "form", :locals => { :f => f }
        %p= f.submit "Create"
          
      = link_to 'Back', teams_path 
