.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        New School Record
  .listings
    .listingItem

      = error_messages_for :team 
      
      - form_for (@team, :url => team_url(@team), :html => {:method => 'put', :multipart => true}) do |f|
        = render :partial => "form", :locals => { :f => f }
        %p= f.submit "Create"
          
      = link_to 'Back', teams_path 
