%p
  %b Name:
  =h @team.name 

%p
  %b City:
  =h @team.city 

%p
  %b County:
  =h @team.county_name

%p
  %b State:
  =h @team.state_id? ? @team.state.name : ""

%p
  %b Description:
  =h @team.description 

%p
  %b Active:
  =h @team.active 


= link_to 'Edit', edit_team_path(@team)
= link_to 'Back', teams_path
.clearDiv/