.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        MAILBOX
      = @title || "MY INBOX"
  .leftNavCol
    .clearDiv.moreLinkArea
    %h2.yellowHeader
      My Network
    .leftNav
      =render :partial => "users/profile_nav"
      
  %form#Forum{ :action => "#", :method => "post" }
    .mailContainer
      /
        Search
      .mailMarginTop
      .contentBox.tanBackground
        .contentBoxHeader.yellowHeader
          %h2.boxDescription
            Messages
        .contentBoxContent.friendSearchWidgetArea
          .mailSearchOptions
            .mailButtonsRight
              %a.genericButtonLight{ :href => "#" }
                Delete Messages
              %br/
              %a.genericButtonLight{ :href => "#" }
                Mark Inapropriate
            .mailButtonsLeft
              %a.genericButtonLight{ :href => "#" }
                Mark as Read
              %br/
              %a.genericButtonLight{ :href => "#" }
                Mark as Unread
            .mailSelectLeft
              %label.mailSelect{ :for => "mailFindSelect" }
                Select
              %select#mailFindSelect.mailSortBy{ :name => "mailSelect" }
                %option{ :selected => "selected", :value => "" }
                  \- - -
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
          .mailSearchOptionsLeft
            %span.mailSearchColumn
              Search:
            %label.verbalSemantic{ :for => "mailSearchTerms" }
              Search Terms
            %input#mailSearchTerms.mailSearchBox{ :name => "searchTerms", :size => "20", :type => "text" }/
            %input.mailSubmit{ :name => "submit", :src => "/gs/images/top_nav_search.gif", :type => "image", :value => "search", :alt => "Search" }/
            %br/
            %br/
            .clearDiv
            %span.friendSearchColumn
              Sort by:
            %label.verbalSemantic{ :for => "mailFindSortBy" }
              Sort by
            %select#mailFindSortBy.mailSortBy{ :name => "sortBy" }
              %option{ :value => "" }
                Newest
              %option{ :value => "" }
                Option
              %option{ :value => "" }
                Option
              %option{ :value => "" }
                Option
            %br/
            .clearDiv
          .clearDiv
      
      
      
      
      /
        Search
      .mailMoreLink
        = link_to 'Sent Messages', sent_messages_path
        = link_to 'Compose', new_message_path
        %br
        %a{ :href => "#" }
          ? previous
        | 1-24 |
        %a{ :href => "#" }
          25-48
        |
        %a{ :href => "#" }
          49-72
        |
        %a{ :href => "#" }
          next ?
          
          
      .forumContentBox
        .forumBoxHeader

        = render :partial => 'messages/message', :collection => @msgs

        %div
          \&nbsp;
          %br/
          %br/
        .forumIEfix
          \&nbsp;
          
          
          
        .clearDiv
      .clearDiv
      .clearDiv
  .clearDiv