.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        = @title || "Inbox"
  .leftNavCol
    %h2.yellowHeader
      My Profile
    .leftNav
      =render :partial => "users/profile_nav"

  .listings
    .listingItem
      = link_to 'Sent Messages', sent_messages_path
      = link_to 'Compose', new_message_path

    = render :partial => 'messages/message', :collection => @msgs

