#yui-main
  .yui-b.main_column
    .box
      %h3
        Log in to
        = AppConfig.community_name
      - form_tag sessions_path, :class => 'MainForm' do
        %label{"for"=>"username"} Username:
        = text_field_tag 'login', nil, :size => 35
        %label{"for"=>"password"} Password:
        = password_field_tag 'password', nil, :size => 35
        %p
          = submit_tag 'Log in'
