%div{ :class=>"desc-#{avht}" }
  %p
    - if @league.address1 && @league.address1.length > 0
      =h @league.address1
    - if @league.address2 && @league.address2.length > 0
      =h @league.address2
    - if @league.city || @league.state_id
      = h [@league.city, (@league.state_id? ? @league.state.name : nil), @league.zip].compact.join(' ')
  %p
    =h @league.phone
    |
    =h @league.email
    - if current_user
      = link_to 'League Members', "/search/q?search[category]=11&league_id=#{@league.id}", :class=>'member-link'