%h1 Listing Leagues

%table.unstyled
  %thead
    %tr
      %th Name
      %th City
      %th State
      %th Description
      %th Active
      %th Teams
      %th/

  - for league in @leagues
    %tbody
      %tr
        %td= link_to league.name, edit_league_path(league)
        %td=h league.city
        %td=h(league.state_id? ? league.state.name : '')
        %td=truncate(h(league.description),45)
        %td=h league.active
        %td= league.teams.count
  
        %td= link_to 'Destroy', league_path(league), :confirm => 'Are you sure?', :method => :delete
   
= link_to 'New league', new_league_path 
