%h1 Listing Leagues

%table
  %tr
    %th Name
    %th City
    %th State
    %th Description
    %th Active

- for league in @leagues
  %tr
    %td=h league.name
    %td=h league.city
    %td=h league.state
    %td=h league.description
    %td=h league.active
  
    %td= link_to 'Show', league_path(league)
    %td= link_to 'Edit', edit_league_path(league)
    %td= link_to 'Destroy', league_path(league), :confirm => 'Are you sure?', :method => :delete, :confirm => "Are you sure?", :method => :delete
    
= link_to 'New league', new_league_path 