%p
  %b Name:
  =h @league.name 

%p
  %b City:
  =h @league.city 

%p
  %b State:
  =h(@league.state_id? ? @league.state.name : '')

%p
  %b Description:
  =h @league.description 

%p
  %b Active:
  =h @league.active 


= link_to 'Edit', edit_league_path(@league)
= link_to 'Back', leagues_path

