log/*.log
log/*.pid
db/sphinx
config/*.sphinx.conf
nbproject
.DS_Store
tmp/**/*
tmp/poller*.log
tmp/poller.output
tmp/*.pid
videos
public/photos
public/assets
art
.loadpath
.project
public/.htaccess
public/blank.html
public/images/active_scaffold/
public/javascripts/active_scaffold/
public/plugin_assets/active_scaffold/
public/stylesheets/active_scaffold/
vendor/plugins/community_engine/.gitignore
