  <%= @message %>

  <%= @url %>


Questions? Easy: <%= AppConfig.support_email %>.

Hope to see you hanging out on <%= AppConfig.community_name %> really soon!
The <%= AppConfig.community_name %> team
