.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        -if @title
          = @title
        -else
          =link_to _('MY FAVORITES'), user_favorites_path(@user.id)
      = "#{@user.full_name}" unless @title

  .listings

    =render :partial => 'favorite', :collection => @favorites
    .clearDiv
        
    - if @favorites.respond_to?('total_pages') && @favorites.total_pages > 1
      .apple_pagination
        = will_paginate @favorites
        
        
