.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        = @title || "My Favorites"
      = "#{@user.full_name}" unless @title
  .leftNavCol
    %h2.yellowHeader
      My Profile
    .leftNav
      =render :partial => "users/profile_nav"

  .listings

    =render :partial => 'favorite', :collection => @favorites
        
    - if @favorites.respond_to?('total_pages') && @favorites.total_pages > 1
      .apple_pagination
        = will_paginate @favorites
        
        