=collection_select("teamfind","county_name",teamfind_counties,"county_name","county_name",{:prompt => "-County-", :selected => "-County-"}, {:id => 'searchCounty', :name => 'county', :onchange=>"#{remote_function(:url=>{:controller=>'search',:action=>'update_teamfind_cities'},:with=>"'state=#{@state}&county='+value")}"})

