.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        User Search Results
      = current_user.full_name
    %h3
      = pluralize(@users.total_entries, 'result')
  .leftNavCol
    %h2.yellowHeader
      My Profile
    .leftNav
      =render :partial => "users/profile_nav"


  .listings
    -#.contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %h2.boxDescription
          Search Results 
      .contentBoxContent.friendSearchWidgetArea
        %span.friendSearchColumn
          Search:
        %span.friendSearchWidgetColumn
          %label.verbalSemantic{ :for => "friendSearchTerms" }
            Search Terms
          %input#friendSearchTerms{ :name => "terms", :type => "text" }/
          %input.submit{ :name => "submit", :src => "/gs/images/top_nav_search.gif", :type => "image", :value => "search", :alt => "Search" }/
          %br/
        .clearDiv
        %span.friendSearchColumn
          Sort by:
        %span.friendSearchWidgetColumn
          %label.verbalSemantic{ :for => "friendFindSortBy" }
            Sort by
          %select#friendFindSortBy{ :name => "sortBy" }
            %option{ :value => "" }
              Recent Updates
            %option{ :value => "" }
              Option
            %option{ :value => "" }
              Option
            %option{ :value => "" }
              Option
          %br/
        .clearDiv
        %span.friendSearchColumn
          Show:
        %span.friendSearchWidgetColumn
          %label.verbalSemantic{ :for => "friendFindShowNet" }
            Show Network
          %select#friendFindShowNet{ :name => "sortBy" }
            %option{ :value => "" }
              Recent Updates
            %option{ :value => "" }
              Option
            %option{ :value => "" }
              Option
            %option{ :value => "" }
              Option
          %br/
    -#.clearDiv.moreLinkArea
      %span.moreLink

    - if @users && @users.any?
      = render :partial => "users/user_listing", :collection => @users
      .apple_pagination
        = will_paginate @users
    -else
      .listingItem
        There were no results from your search


    
