#welcome
  .yui-gc
    .yui-u.first
    
      .box
    
        .yui-gc
          .yui-u.first
    
            %h2 
              Welcome to
              %a{:href=>"/"}= "#{AppConfig.community_name}!"

            %p
              %b Full Game Video
              dolor sit amet, consectetuer elit. Nullam tincidunt. 
              %br
              %b Safe and Secure 
              vestibulum ante ipsum in fe; Praesent a erat. 
              %br
              %b Stay up to date
              viverra vel, rutrum ut, aliquam quis, ectus eu eros! 
              %br        
              %b Create and Edit 
              consecteteur elit, pellentesque ut erum lorem. 
              %br
    
          .yui-u
            Watch our demo video to learn 
            %br
            more about Global Sports! 
            
            
            
    .yui-u
      .box
        Send Invites
      
      -#.box
        %h2 
          See how it works
        %p Create your account.
        %h4 
          =link_to "Sign up", signup_path