!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml", 'xml:lang'=>"en", :lang=>"en"}
  %head
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}/
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}/
    %title= page_title
    = stylesheet_link_tag '/gs/styles/main.css'
     
  %body
    %div.backgroundContainer
      .outerContainer{:style => "height: 800px; width: 600px;"}
        %p{:style => "text-align: center; font-size: 13em;"}
          %strong
            Global Sports
        %p{:style => "text-align: center; font-size: 5em;"}
          Stay tuned... it's coming
