.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        =link_to 'ADMINISTRATION', :action => 'dashboard'
      Dashboard
      - if @league
        = " for #{@league.name}"
  .listings
    .listingItem
      =render :partial => 'shared/admin_nav'