.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        Access Groups
      = @access_group.name
      Videos
  .listings
    .padded

      %table{:border => 0, :cellspacing => 0, :cellpadding => 0, :width => '100%'}
        %thead
          %tr.yellowHeader
            %th.padded.contentHeader
            %th.padded.contentHeader
            %th.padded.contentHeader
        %tbody
          - for item in @access_group.items
            -video=item.item
            %tr.leagueList
              %td.leagueList
                %a{ :href=>video_asset_path(video) }
                  %img{ :src=>@vidavee.file_thumbnail_medium(video.thumbnail_dockey || video.dockey) }
              %td.leagueList  
                = h video.title
              %td.leagueList
                Remove
        
        
        
        -# =render :partial => 'shared/video_listing', :collection => @video_assets, :locals => { :skip_controls => false, :show_tab => true }

