.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        %a{ :href=>access_groups_path() }
          Access Groups
      Videos for 
      = @access_group.name
  .listings
    .padded

      %table{:border => 0, :cellspacing => 0, :cellpadding => 0, :width => '100%'}
        -#%thead
          %tr.yellowHeader
            %th.padded.contentHeader
            %th.padded.contentHeader
            %th.padded.contentHeader
        %tbody
          - for item in @access_group.access_items
            -video=item.item
            %tr.leagueList{ :id=>"access_item_#{item.id}" }
              %td.leagueList
                - if !video.nil?
                  %a{ :href=>video_path(video) }
                    %img{ :src=>@vidavee.file_thumbnail_medium(video.thumbnail_dockey || video.dockey) }
              %td.leagueList  
                = h (video.nil? ? 'Video Missing' : video.title )
              %td.leagueList
                = link_to_remote 'Remove', {:url => {:controller=>:access_groups, :action=>:remove_video, :id=>item.id}, :confirm => 'Are you sure?', :method=>:delete}, :class=>'genericButton', :complete => evaluate_remote_response
        
        
        
        -# =render :partial => 'shared/video_listing', :collection => @video_assets, :locals => { :skip_controls => false, :show_tab => true }

