Hey <%= @user.full_name %>!

<%= @requester.full_name %> would like to be friends with you on <%= AppConfig.community_name %>! Use this link to see:

<%= @url %> 

Thanks,
The <%= AppConfig.community_name %> team
