Hi there, <%= @user.full_name%>!

We've reset your <%= AppConfig.community_name %> password. Your new password is: <%= @user.password %>. 
Please visit <%= APP_URL %> and log-in with this temporary password. After you are logged in
click "my account". In the box titled "Personal Information" you can change your password.

If you have any questions, please contact <%= AppConfig.community_name %> support at <%= AppConfig.support_email %>.

Thanks,
The <%= AppConfig.community_name %> team
