Hi <%= @roster_entry.full_name %>,

* You have been invited to join your team roster on <%= AppConfig.community_name %>!

  <%= @url %>

Thanks,
<%= @coach.full_name %> and The <%= AppConfig.community_name %> Team