<%= @message %>

--------------

Hi!

<%= @user.full_name %> has just invited you to join <%= AppConfig.community_name %>. <%= AppConfig.community_description %>

As a member you will be able to watch full game videos, create clips, highlight reels and more!

Visit this link to sign up:

<%= @url %>

Thanks,
The <%= AppConfig.community_name %> team
