Hi <%= @user.full_name %>,

* Welcome to <%= AppConfig.community_name %>! You can login into the
community site any time, view full game videos, create clips and
highlight reels, find your friends, participate in the discussion and
more!

  <%= @url %>

* As a <%= AppConfig.community_name %> member, you'll receive
occasional e-mails from us (with news, announcements, and updates on
the site). If you don't want them, you can change your e-mail
preferences here:

  <%= edit_account_user_url(@user) %>

* There is always a lot happening at <%= AppConfig.community_name %>
so check in frequently to keep up with the latest!

Thanks for joining!
The <%= AppConfig.community_name %> Team
