
/* notice warning flash_message */
#flash_notice, #flash_error, #flash_info {
  background-color: #ffffff;
  border: 0px;
}

/* aaron */

.mainContentArea{
	background-color: #ffffff;
}

.mainContentArea input[type='text'], .mainContentArea input[type='password'], .mainContentArea select, .mainContentArea input[type='radio'], .mainContentArea textarea {
  background-color: #feb;
  border: 1px solid #26a;
  margin-bottom: 4px;
}
.mainContentArea input[type='text']:focus, .mainContentArea input[type='password']:focus { 
  border: 2px solid darkblue;
}

.mainConentArea label { 
  font-weight: bold;
  color: black;
  text-align: left;
}

.xxmainContentArea fieldset {
  border: 2px solid darkblue;
  margin-left: 4%;
  margin-right: 4%;
}

table.unstyled {
  border: 1px solid black;
  margin: 5px;
}

table.unstyled thead tr {
  background-color: #99ccff;
  border: 0px;
}

table.unstyled tbody tr:hover {
  background-color: #ccffff
}

table.unstyled td {
  padding: 3px;
}

table.unstyled td.numeric {
  text-align: right;
}
  
.mainContentArea .video_thumbnail {
  display: inline;
  margin: 5px;
}

.mainContentArea .videoPlayer {
  float right;
  width: 550px;
  height: 375px;
}


.pageContent {
  margin: 0 5px 5px 25px;
  padding-bottom: 10px;
}

.pageContent h1, .pageContent h2 {
  margin-bottom: 10px;
}

input[type='submit'] {
  color: #c7c7c7;
  background-color: #363636;
  padding: 3px 1em 3px 1em;
  cursor: pointer;
  margin: 1em 0;
  width: auto;
  font-weight: bold;
}

input[type='submit']:hover {
   background-color: #363636;
   color: red;
}



/* will-paginate apple.com store style pagination styles */
.apple_pagination {
  background: #F1F1F1;
  border: 1px solid #E5E5E5;
  text-align: center;
  padding: 1em; }
.apple_pagination a, .apple_pagination span {
    padding: .2em .3em; }
.apple_pagination span.disabled {
    color: #AAA; }
.apple_pagination span.current {
    font-weight: bold;
    background: transparent url(../images/apple-circle.gif) no-repeat 50% 50%; }
.apple_pagination a {
    text-decoration: none;
    color: black; }
.apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }
      
.warning, #errorExplanation, .errorExplanation{
	padding: 1em 1em 1em 1em;
	border: 1px solid #fc0;
	background: #fff3c5;
	color: #6b5e2b;
}



.headerLogin {
	height: 100px;
	margin-right: 7px;
	margin-top: 7px;
	float: right;
}

# Tighten up the width of the video quickfind selects, until we
# can come up with something better
#videoFindSeason {
   width: 7em;
}
#videoFindState {
   width: 6em;
}
#videoFindCounty {
 p  width: 8em;
}
#videoFindLeague {
  width: 10em;
}
#videoFindSport {
  width: 8em;
}

/* Fix up to make photos in posts wrap in text */
.entry-content img {
  float: left;
  padding-right: 2em;
}

/* Work around a tellart bug */
object#homeFlash {
	float:right;
	width:580px;
	height:395px;
	background-image: url(../gs/images/videoplayer_background.png);
	background-repeat: no-repeat;
}

/* These FIT classes force images into the given size
   without changing the aspect ratio, we just end up
   with a view port into the real image */

div.athleteFIT {
  height: 65px;
  width: 65px;
  overflow: hidden;
  display: inline;
}
div.featureFIT {
  height: 65px;
  width: 103px;
  overflow: hidden;
  display: inline;
}

div.favFIT {
  height: 61px;
  width: 81px;
  overflow: hidden;
  display: inline;
}

div.profileFIT {
  height: 90px;
  width: 150px;
  overflow: hidden;
  display: inline;
}

div.thumbFIT {
  height: 100px;
  width: 100px;
  overflow: hidden;
  display: inline;
}

.loginFormPassword, .loginFormInput {
  float: left;
}

/* make sure text next to video thumb stays to the right */
.featureSummary .featureText {
   width: 175px;
   overflow: hidden;
}

.profileFeature .featureText {
  width: 92px;
  overflow: hidden;
}

.profileFeature a.genericButton:visited, .profileFeature a.genericButton {
   color: #FFEF0A;
}


.msgHeader {
  font-weight: bold;
}

.msgBody {
   margin-top: 5px;
   margin-botton: 5px;
}


.homeFeatureLeft2 {
	float: left;
	width: 350px;
	margin: 0px;
	padding: 0px;
}

.homeFeatureMiddle2 {
	width: 315px;
	padding: 0px;
	margin: 0;
	float: left;
}
.homeFeatureRight2 {
	width: 289px;
	float: right;
	margin: 0;
	padding: 0;
}
.homeFeatureMiddle2 img {
	padding: 0px;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	border: 1px solid #162A49;	
}



.homeFeatureMiddle2 img:hover {
	border: 1px solid #2980CA;
}

/* tellart tried to hide h2 with an image. mega dumb imho */
.homeFeature h3 {
  color: yellow;
  font-size: 166.1%;
  margin-top: 10px;
  padding-left: 18px;
  height: 25px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
}

.ArticlesWeek {
	background-color: #bac4d0;
	height: 65px;
	width: 255px;
	margin-left: 20px;
	margin-top: 8px;
}

.prototip .gs { border: 1px solid #ccc; color: #fff; font: 11px Arial, Helvetica, sans-serif; }
.prototip .gs .toolbar { background: #2e2e2e; color: #fff; font-weight: bold; }
.prototip .gs .toolbar a.close:hover { background: url(close_hover_red.gif);}
.prototip .gs .title { padding: 5px; }
.prototip .gs .content { background: #fff; color: #666666; padding: 5px; text-align: left;}
.prototip .gs .content hr { background-color: #fff; color: #fff; border: 0; border-top: 1px solid #ccc}
.prototip .gs .content a { color: #464337; text-decoration: none;}
.prototip .gs li {	list-style: none; }



.accountContinue2 {
	text-align: left;
	margin-top: 20px;
	margin-bottom: 35px;
}

.accountContinue2 input {
	border: 0px;
	background-color: white;
}




