a, a:visited, a:hover, a:active {
  outline: none;
}

/* notice warning flash_message */
#flash_notice, #flash_error, #flash_info {
  background-color: #ffffff;
  border: 0px;
}

#flash_error, .warningBox {
   color: red;
   font-size: 125%;
   background-color: #ffe3e3;
   border: 1px solid red;
}

#flash_info {
  background-color: #e2e4a7;
  border: 2px solid #68a34e;
}

/* forms */

.landingContentArea, 
.mainContentArea{
	background-color: #ffffff;
}

.landingContentArea input[type='text'], .landingContentArea input[type='password'], .landingContentArea select, .landingContentArea textarea,
.mainContentArea input[type='text'], .mainContentArea input[type='password'], .mainContentArea select, .mainContentArea textarea {
  xbackground-color: #feb;
  border: 1px solid black;
  margin-bottom: 4px;
}

.landingContentArea input[type='text']:focus, .landingContentArea input[type='password']:focus
.mainContentArea input[type='text']:focus, .mainContentArea input[type='password']:focus { 
  border: 1px solid darkblue;
}

.landingContentArea label
.mainConentArea label { 
  font-weight: bold;
  color: black;
  text-align: left;
}

.fieldWithErrors input[type='text'] {
	border: 1px solid red;
}

.RegistrationContent .bothCols {
  width: 715px;
}

.RegistrationContent .bothCols .contentBox {
  width: auto;
  height: auto;
  padding-right: 20px;
}

.RegistrationContent h1 {
  font-size: 15pt;
  width: 715px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-bottom-color: #000000;
}

.RegistrationContent .mainCol1 .contentBox, .RegistrationContent .mainCol2 .contentBox{
	width: 325px;
	height: auto;
	padding-right: 10px;
	margin-right: 20px;
}
.RegistrationContent .contentBox{
	margin-left: 0px;	
	height: auto;
	background-color: white;
}
.RegistrationContent .contentBoxContent{
	height: auto;
}

.RegistrationContent hr {
	border: 1px solid black;
	margin-bottom: 15px;
}

.RegistrationContent .section-head {
	font-weight: bold;
	font-size: 150%;
}

/*
label.required:before{
	content: '*';
}
*/

.field-block label{
}

.field-block input {
	margin-right: 3px;
}


/* end forms */

table.unstyled {
  border: 1px solid black;
  margin: 5px;
}

table.unstyled thead tr {
  background-color: #99ccff;
  border: 0px;
}

table.unstyled tbody tr:hover {
  background-color: #ccffff
}

table.unstyled td {
  padding: 3px;
}

table.unstyled td.numeric {
  text-align: right;
}
  
.mainContentArea .video_thumbnail {
  display: inline;
  margin: 5px;
}

.mainContentArea .videoPlayer {
  float: right;
  width: 550px;
  height: 375px;
}


.pageContentArea {
  padding-top:20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  float: left;
}

.pageContent {
}

.pageContent h1, .pageContent h2 {
  margin-bottom: 10px;
}

input[type='button'].submit {
  color: #c7c7c7;
  background-color: #363636;
  padding: 3px 1em 3px 1em;
  cursor: pointer;
  margin: 1em 0;
  width: auto;
  font-weight: bold;
  border: 0px;
}

input[type='submit'] {
  color: #c7c7c7;
  background-color: #363636;
  padding: 3px 1em 3px 1em;
  cursor: pointer;
  margin: 1em 0;
  width: auto;
  font-weight: bold;
}

input[type='submit']:hover {
   background-color: #363636;
   color: #c7c7c7;
}


/* will-paginate apple.com store style pagination styles */
.apple_pagination {
  background: #F1F1F1;
  border: 1px solid #E5E5E5;
  text-align: center;
  padding: 1em; }
.apple_pagination a, .apple_pagination span {
    padding: .2em .3em; }
.apple_pagination span.disabled {
    color: #AAA; }
.apple_pagination span.current {
    font-weight: bold;
    background: transparent url(../images/apple-circle.gif) no-repeat 50% 50%; }
.apple_pagination a {
    text-decoration: none;
    color: black; }
.apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }
      
.warning, #errorExplanation, .errorExplanation{
	padding: 1em 1em 1em 1em;
	border: 1px solid #fc0;
	background: #fff3c5;
	color: #6b5e2b;
}



.headerLogin {
	height: 100px;
	margin-right: 7px;
	margin-top: 7px;
	float: right;
}

/* Tighten up the width of the video quickfind selects, until we
   can come up with something better */
#videoFindSeason {
   width: 7em;
}
#videoFindState {
   width: 6em;
}
#videoFindCounty {
   width: 8em;
}
#videoFindSchool {
  width: 10em;
}
#videoFindSport {
  width: 8em;
}

#searchState {
   width: 6em;
}
#searchCounty {
   width: 8em;
}
#searchCity {
  width: 10em;
}

#quickfind_counties,#quickfind_schools,#quickfind_sports,#quickfind_seasons{
	display: inline;
}

/* Fix up to make photos in posts wrap in text */
.entry-content img {
  float: left;
  padding-right: 2em;
}

/* Work around a tellart bug */
object#homeFlash {
	float:right;
	width: 588px;
	height: 410px;
	background-image: url(../gs/images/videoplayer_background.png);
	background-repeat: no-repeat;
        margin: 0;
        padding: 0;
}

#flashArea {
  margin-top: 5px;
	float:right;
	background-image: url(../gs/images/videoplayer_background.png);
	background-repeat: no-repeat;
}

.playerContentArea {
  background: #888d99;/*#292e43;*/
  width: 816px;
  margin-left: 10px;
  margin-top: 10px;
  height: auto;
  float: left;
}
.leftNavColPlayer {
  /*width: 130px;*/
  /*height: 350px;*/
  /*float: left;*/
  /*padding: 10px;*/
  margin: 0;
  color: #cfcfcf;
}

.leftNavColPlayer a {
  margin: 10px 0px 10px 20px;
  float: right;
}

.leftNavPlayer {
  /* background: #888d99; */
  margin: 10px 20px 10px 20px;
}

.commentArea {
  background: #e2e4a7;
  margin-right: 25px;
}

.commentForm {
  margin-left: 10px;
  margin-top: 0;
}
  

fieldset.emphasized {
  border: 2px solid #888d99;
  margin: 25px 0 25px 10px;
  padding: 10px;
}

fieldset.emphasized legend {
  color: black;
  font-size: 123.1%;
}

/* These FIT classes force images into the given size
   without changing the aspect ratio, we just end up
   with a view port into the real image */

div.athleteFIT {
  height: 65px;
  width: 65px;
  overflow: hidden;
  display: inline;
}

div.featureFIT {
  height: 65px;
  width: 103px;
  overflow: hidden;
  display: inline;
}

div.favFIT {
  height: 61px;
  width: 81px;
  overflow: hidden;
  display: inline;
}
div.profileFIT {
	width: 150px;
  height: 10px;
  overflow: hidden;
  display: inline;
}
div.thumbFIT {
  height: 100px;
  width: 100px;
  overflow: hidden;
  display: inline;
}

.loginFormPassword, .loginFormInput {
  float: left;
}

/* make sure text next to video thumb stays to the right */
.featureSummary .featureText {
   width: 175px;
   overflow: hidden;
}

.profileFeature .featureText {
  width: 92px;
  overflow: hidden;
}

.mainContentArea h3, .featureText .featureTitle {
   font-size: 1.1em;
   font-weight: bold;
   color: #536338;
}

.featureText {
  margin-right: 5px !important;
}

.featureText h3.featureTitle a, .featureText h3.featureTitle a:visited {
   text-decoration: none;
   color: #536338;
}

.featureText h3.featureTitle a:hover {
  text-decoration: underline;
}

.featureText h3.featureTitle a:active {
  text-decoration: none;
}

.mainContentArea h4 {
   font-size: 1.0em;
   font-weight: bold;
}

.mainContentArea h5 {
  font-size: 0.9em;
  font-weight: bold;
}

.contentBoxContent form {
  padding-left: 10px;
  padding-top: 10px;
}


.profileFeature a.genericButton:visited, .profileFeature a.genericButton {
   color: #FFEF0A;
}


.msgHeader {
  font-weight: bold;
}

.msgBody {
   margin-top: 5px;
   margin-bottom: 5px;
}


.homeFeatureLeft2 {
	float: left;
	width: 350px;
	margin: 0px;
	padding: 0px;
}

.homeFeatureMiddle2 {
	width: 315px;
	padding: 0px;
	margin: 0;
	float: left;
}
.homeFeatureRight2 {
	width: 289px;
	float: right;
	margin: 0;
	padding: 0;
}
.homeFeatureMiddle2 img {
	padding: 0px;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	border: 1px solid #162A49;	
}



.homeFeatureMiddle2 img:hover {
	border: 1px solid #2980CA;
}

/* tellart tried to hide h2 with an image. mega dumb imho */
.homeFeature h3 {
  color: yellow;
  font-size: 166.1%;
  margin-top: 10px;
  padding-left: 18px;
  height: 25px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
}

.ArticlesWeek {
	background-color: #bac4d0;
	height: 65px;
	width: 255px;
	margin-left: 20px;
	margin-top: 8px;
}

.prototip .gs { border: 1px solid #ccc; color: #fff; font: 11px Arial, Helvetica, sans-serif; }
.prototip .gs .toolbar { background: #2e2e2e; color: #fff; font-weight: bold; }
.prototip .gs .toolbar a.close:hover { background: url(close_hover_red.gif);}
.prototip .gs .title { padding: 5px; }
.prototip .gs .content { background: #fff; color: #666666; padding: 5px; text-align: left;}
.prototip .gs .content hr { background-color: #fff; color: #fff; border: 0; border-top: 1px solid #ccc}
.prototip .gs .content a { color: #464337; text-decoration: none;}
.prototip .gs li {	list-style: none; }



.accountContinue2 {
	text-align: right;
	margin-top: 20px;
	margin-bottom: 35px;
}

.accountContinue2 input {
}

.searchResultsContent h2.columnDescriptor a {
  color: #111528;
  text-decoration: none;
  padding-left: 10px;
}

.searchResultsContent h2.columnDescriptor a:visited {
  color: #111528;
}

.searchResultsContent h2.columnDescriptor a:hover {
  color: red;
}
.profileContentArea .toplink {
  float: left;
  margin: 10px 0px 10px 15px;
}

input[type='button'] {
  color: #FFEF0A;
  background-color: #444444;
  border: 2px outset #666666;
  margin: 3px 3px 3px 1px;
}
  
.bg_1 {
  background-image: url("/gs/images/bg/1.jpg");
}
.bg_2 {
  background-image: url("/gs/images/bg/2.jpg");
}
.bg_3 {
  background-image: url("/gs/images/bg/3.jpg");
}
.bg_4 {
  background-image: url("/gs/images/bg/4.jpg");
}
.bg_5 {
  background-image: url("/gs/images/bg/5.jpg");
}
.bg_6 {
  background-image: url("/gs/images/bg/6.jpg");
}
.bg_7 {
  background-image: url("/gs/images/bg/7.jpg");
}
.bg_8 {
  background-image: url("/gs/images/bg/8.jpg");
}
.bg_9 {
  background-image: url("/gs/images/bg/9.jpg");
}
.bg_10 {
  background-image: url("/gs/images/bg/10.jpg");
}
.bg_11 {
  background-image: url("/gs/images/bg/11.jpg");
}
.bg_12 {
  background-image: url("/gs/images/bg/12.jpg");
}
.bg_13 {
  background-image: url("/gs/images/bg/13.jpg");
}
.bg_14 {
  background-image: url("/gs/images/bg/14.jpg");
}
.bg_15 {
  background-image: url("/gs/images/bg/15.jpg");
}
.bg_16 {
  background-image: url("/gs/images/bg/16.jpg");
}
.bg_17 {
  background-image: url("/gs/images/bg/17.jpg");
}
.bg_18 {
  background-image: url("/gs/images/bg/18.jpg");
}
.bg_19 {
  background-image: url("/gs/images/bg/19.jpg");
}
.bg_20 {
  background-image: url("/gs/images/bg/20.jpg");
}
.bg_21 {
  background-image: url("/gs/images/bg/21.jpg");
}
.bg_22 {
  background-image: url("/gs/images/bg/22.jpg");
}
.bg_23 {
  background-image: url("/gs/images/bg/23.jpg");
}
.bg_24 {
  background-image: url("/gs/images/bg/24.jpg");
}
.bg_25 {
  background-image: url("/gs/images/bg/25.jpg");
}
.bg_26 {
  background-image: url("/gs/images/bg/26.jpg");
}
.bg_27 {
  background-image: url("/gs/images/bg/27.jpg");
}
.bg_28 {
  background-image: url("/gs/images/bg/28.jpg");
}
.bg_29 {
  background-image: url("/gs/images/bg/29.jpg");
}
.bg_30 {
  background-image: url("/gs/images/bg/30.jpg");
}

.headerBrand {
     height: 90px; 
     width: 475px;
     z-index: 105;
     cursor: pointer;
}

.navlink {
	display: block;
	font-weight: bold;
	padding-bottom: 3px;
	padding-left: 10px;
}


/* Stop the jumping on selected mail items */
.mailItem {
    border: 2px solid white;
}

.mailItem .unread {
    border: 2px solid #333333;
}

.profilePageHeader .friend_request a, .profilePageHeader .friend_request a:visited {
	color: #676767;
	font-size: 80%;
	padding-left: 3px;
}



/* team league summary content */
.contentBox.orgSummary{
	background: white;
}

.contentBox.orgSummary .contentBoxHeader{
	background: white;
	font-size: 100%;
	font-weight: bold;
	color: #0081C0;
	margin-bottom: 5px;
	border: 0;
	height: auto;
}

.contentBox.orgSummary .contentBoxHeader a{
	color: red;
	float:right;
	color: #666666;
	font-size: 90%;
	padding-right: 15px;
}

.contentBoxHeader h2 {
         font-size: 150%;
}

.contentBoxHeader h2.boxDescription {
        font-size: 100%;
}

.contentBox.orgSummary .contentBoxContent{
	font-weight: bold;
}

.contentBox.orgSummary .contentBoxContent p {
	padding-bottom: 4px;
}

.contentBox.orgSummary .contentBoxContent .logo-60 img {
	padding-top: 8px;
}

.contentBox.orgSummary .contentBoxContent .desc-100 {

}
.contentBox.orgSummary .contentBoxContent .logo-100 {
	margin-right: 20px;
}

.rightContentItem .member-link {
	color: #666666;
	float:right;
}

.rightContentItem h2 a, .rightContentItem h2 a:visited {
	font-size: 120%;
	color: #0081C0;
	margin-bottom: 5px;
        text-decoration: none;
}

.rightContentItem h2 a:hover {
  text-decoration: underline;
}

/* end - team league summary content */

/* profile activity */
.contentBoxContent.profileActivity{
 height: 200px;
}

.profileActivity .activity-thumbnail {
	float: left;
	padding-right: 5px;
}
/* end - profile activity */

/* Signup completed/weclome page */

div.signupCompletedContent{
	padding-top: 20px;
	padding-left: 30px;
}

.signupCompletedContent h2 {
	font-weight: bold;
	font-size: 200%;
	color: #0081C0;
	margin-bottom: 20px;
}

.signupCompletedContent .registrationCompleteTitle{
	color: #68A34E;
	font-size: 120%;
	font-weight: bold;
	margin-bottom: 15px;
}
.signupCompletedContent .contentLeftBox{
	margin-left: 20px;
	width: 370px;
	float: left;
	margin-right: 60px;
}
.signupCompletedContent .contentRightBox{
	width: 300px;
  margin-right: 20px;
	float: left;
}

.signupCompletedContent p{
	margin-bottom: 15px;
	text-align: justify;
}
.signupCompletedContent .startUsingTitle{
	padding-top: 30px;
	font-size: 160%;
	margin-bottom: 15px;
}
.myProfileButton{
	position: relative;
	float: left;
	background-image: url(../images/blueButton.png);
	width: 175px;
	height: 39px;
	margin-bottom: 30px;
	left: 140px;
}

.myProfileButton a{
	text-decoration: none;
	font-weight: normal;
	color: #fff;
	font-size: 170%;
	vertical-align: middle;
	padding-top: 20px;
       	padding-left: 20px;
}

/* End Signup completed*/

a.tag, a.tag:visited {
  color: #676767;
}

a.btag, a.btag:visited {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.helptip, .helptip:visited {
  color: #666666;
  text-decoration: none;
}

.helptip:hover {
  color: red;
}

.RegistrationContent .lightbox{
  color: black !important;
  font-size: 110% !important;
}

.edit-profile {
	padding: 0 20px 10px 20px;
}

.edit-profile h3 {
	padding-top: 8px;
}

.edit-profile-nav {
	padding: 0 0 6px 10px;
}

.tall_listing_line {
  margin: 3px 0 3px 0;
  font-weight: bold;
}


/* fix to text in three column search results layout */
.mainCol1 .contentBox, .mainCol2 .contentBox, .mainCol3 .contentBox {
  height: auto !important;
}

.homeText h1 {
  color: #0081c0 !important;
}

#POInfo {
 padding-left: 15px;	
}

tr.blogList, tr.leagueList {
  background-color: #E2E4A7;
  border-bottom: 2px solid #ffffff; 
}
td.blogList, th.blogList, td.leagueList, th.leagueList { 
  padding: 10px 5px 10px 5px; 
  border-bottom: 2px solid #ffffff; 
}
td.numeric {
  text-align: right;
}

/*
 * SIDE BAR
 */
#sidebar {
	width: 125px;	
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
#sidebar a {
	color: #dbdbdb;
	text-decoration: none;
}
#sidebar a:hover {
  color: #ffffff;
}
#sidebar .menutitle {
	/* padding+height=actual height */
	height: 25px;
  padding-top: 10px; 	
	color: #dbdbdb;
	font-size: 110%;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 18px;
	background-image: url(../images/sidebar_menu_title.png);
  background-repeat: no-repeat; 
}
#sidebar .menuitem, #sidebar .menuitem-hilite, #sidebar .menuitem-last {
  /* padding+height=actual height */
  height: 16px;
  padding-top: 4px; 
  color: #ffffff;
  font-weight: bold;
  padding-left: 18px;
  background-image: url(../images/sidebar_menu_item.png);
  background-repeat: no-repeat;
}
#sidebar .menuitem-hilite {
  background-image: url(../images/sidebar_menu_item_btm.png);
  background-repeat: no-repeat; 
}
#sidebar .menuitem-last {
  height: 33px; 
  background-image: url(../images/sidebar_menu_btm_curve.png);
	background-repeat: no-repeat;	
}



/*
 * COMMENTS
 */

.commentContainer {
    background-color: #E2E4A7;
    padding: 5px 25px 5px 25px;
} 
.commentPost {
  background-color: #E2E4A7;
  width: auto;
  display: block;
  height: auto;
  margin-bottom: 10px;
}
.profileInfo .commentPost {
	/* Override for profile info display */
  margin-bottom: 0px;
  border-bottom: 1px solid #ffffff;
}
.commentPoster {
  float: left;
	padding: 10px 10px 10px 15px;	
  text-align: center;
  width: auto;
}
.profileInfo .commentPoster {
  /* Override for profile info display */
  padding-left: 10px;
}
.profileInfo .commentPoster a img {
	/* Override for profile info display */
  width: 80px;  
}
.commentSummaryBox {
  float: left;
  width: 530px;
  margin-bottom: 10px;
}
.profileInfo .commentSummaryBox {
  width: 215px;
}
.commentHeading {
	padding-top: 10px;
  margin-bottom: 10px;
}
.commentSummaryBody {
  background-color: #FFFFFF;
  padding: 10px;
}
.commentSummaryBody p {
  background-color: #FFFFFF;
  margin-bottom: 5px;
  display: block;
}
.commentActions {
  float: right;
  padding: 5px;
  width: auto;
}
.profileInfo .commentActions {
  float: clear; 
}
.commentActions li {
  margin-bottom: 10px;
}
.featureItem, .featureSummary {
  border-bottom: 1px solid #ffffff;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.profileFeature .featureItem {
  margin-right: 0px;
}
.featureItemThumb {
  float: left;
  text-align: center;
  width: auto;
}
.profileInfo .commentPoster {
  /* Override for profile info display */
  padding-left: 10px;
}
.featureItemThumb a img, .profileInfo .commentPoster a img {
  /* Override for profile info display */
  width: 50px;  
}
.featureItem .featureText {
	/* override profileItem.featureText from main.css */
  margin-top: 0px;
	margin-right: 0px;
	width: 125px;
}
.profileContentArea .topRowFixHeight .moreLinkArea {
	position: relative;
	top: 150px;
}

.profileFeature .clipItem {
  float: left;
  display: inline;
  padding: 5px 5px 5px 5px;
  width: 150px;
}
.profileFeature .clipItem .profileClipFIT {
	 width: 140px;
   height: 90px;
	 overflow: hidden;
	 display: block;
}

a img.framed,
a.framed img, 
.featureItemThumb a img, 
.commentPoster a img,
.forumPoster a img 
{
  border: 2px solid #333333;
}

a:hover img.framed, 
a:hover.framed img, 
.featureItemThumb a:hover img, 
.commentPoster a:hover img,
.forumPoster a:hover img 
{	
  border: 2px solid #0066CC;
}

/* Allow for linking of main page heading */
h2.columnDescriptor span {
  text-transform: uppercase;	
}

h2.columnDescriptor span a {
  color: #0081C0; 
  text-decoration: none;
}
h2.columnDescriptor span a:hover {
  text-decoration: underline;
}

/* Adding right margin to right-most 3rd column */ 
.rightContentItem {
  width: 250px;
  margin: 10px 20px 0px 20px;
}
.mainCol3 .contentBox {
  width: 238px;
}

/* restoring left padding for lists that are removed by the "body *" css */
ul, ol {
  padding-left: 30px;
}

/* Ratings */

.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus,
.star-rating .current-rating{
	background: url(/images/star.gif) left -1000px repeat-x;
}
.star-rating{
	position:relative;
	width:115px;
	height:24px;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	background-position: left top;
}
.star-rating li{
	display: inline;
}
.star-rating a,
.star-rating .current-rating{
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:25px;
	line-height:25px;
	outline:none;
	overflow:hidden;
	border: none;
	margin:0;
	padding:0;
}
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus{
	background-position: left bottom;
}
.star-rating a.stars-1{
	width:20%;
	z-index:6;
}
.star-rating a.stars-2{
	width:40%;
	z-index:5;
}
.star-rating a.stars-3{
	width:60%;
	z-index:4;
}
.star-rating a.stars-4{
	width:80%;
	z-index:3;
}
.star-rating a.stars-5{
	width:100%;
	z-index:2;
}
.star-rating .current-rating{
	z-index:1;
	background-position: left center;
}
/* end Ratings */

/* Use text for top nav instead of images */
.topNav .leftTopNav a {
  color: #dbdbdb;
  text-decoration: none;
}
.topNav .leftTopNav a:hover {
  color: #ffffff;
}
.topNav .leftTopNav {    
  color: #dbdbdb;
  font-size: 110%;
  font-weight: bold;
  text-transform: uppercase;
}
