
/* notice warning flash_message */
#flash_notice, #flash_error, #flash_info {
  background-color: #ffffff;
  border: 0px;
}

/* aaron */

.mainContentArea{
	background-color: #ffffff;
}

.mainContentArea input[type='text'], .mainContentArea input[type='password'], .mainContentArea select, .mainContentArea input[type='radio'], .mainContentArea textarea {
  background-color: #feb;
  border: 1px solid #26a;
  margin-bottom: 4px;
}
.mainContentArea input[type='text']:focus, .mainContentArea input[type='password']:focus { 
  border: 2px solid darkblue;
}

.mainContentArea input[type='submit'] {
   border: 2px solid darkblue;
   margin-top: 5px;
   font-weight: bold;
}

.mainContentArea input[type='submit']:hover {
   color: red;
}

.mainConentArea label { 
  font-weight: bold;
  color: black;
  text-align: left;
}

.xxmainContentArea fieldset {
  border: 2px solid darkblue;
  margin-left: 4%;
  margin-right: 4%;
}

.xxmainContentArea fieldset legend {
   font-weight: bold;
}

.mainContentArea table.unstyled {
  border: 1px solid black;
}

.mainContentArea table.unstyled thead tr {
  background-color: #99ccff;
  border: 0px;
}

.mainContentArea table.unstyled tbody tr:hover {
  background-color: #ccffff
}
  
.mainContentArea .video_thumbnail {
  display: inline;
  margin: 5px;
}

.mainContentArea .videoPlayer {
  float right;
  width: 550px;
  height: 375px;
}


/* will-paginate apple.com store style pagination styles */
.apple_pagination {
  background: #F1F1F1;
  border: 1px solid #E5E5E5;
  text-align: center;
  padding: 1em; }
.apple_pagination a, .apple_pagination span {
    padding: .2em .3em; }
.apple_pagination span.disabled {
    color: #AAA; }
.apple_pagination span.current {
    font-weight: bold;
    background: transparent url(../images/apple-circle.gif) no-repeat 50% 50%; }
.apple_pagination a {
    text-decoration: none;
    color: black; }
.apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }
      
.warning, #errorExplanation, .errorExplanation{
	padding: 1em 1em 1em 1em;
	border: 1px solid #fc0;
	background: #fff3c5;
	color: #6b5e2b;
}



.headerLogin {
	height: 100px;
	margin-right: 7px;
	margin-top: 7px;
	float: right;
}

# Tighten up the width of the video quickfind selects, until we
# can come up with something better
#videoFindSeason {
   width: 7em;
}
#videoFindState {
   width: 6em;
}
#videoFindCounty {
 p  width: 8em;
}
#videoFindLeague {
  width: 10em;
}
#videoFindSport {
  width: 8em;
}

/* Fix up to make photos in posts wrap in text */
.entry-content img {
  float: left;
  padding-right: 2em;
}



.prototip .gs { margin:0 10px 0 10px; border: 1px solid #2a1301; color: #fff; font: 11px Arial, Helvetica, sans-serif; border-top: none;}
.prototip .gs .toolbar { background: #2e2e2e; color: #fff; font-weight: bold; }
.prototip .gs a { background-color: #fff; color: #000; text-decoration: none; }
.prototip .gs a:hover { text-decoration: underline; }
.prototip .gs .title { padding: 5px; }
.prototip .gs .content { background: #fff; color: #666666; padding: 5px;}
.prototip .gs li {	list-style: none; }

