%hr
.section-head League Info
%br  
  
.field-block
  %label.required
    * League Name
  %br
  = text_field :league, :name 
.field-block
  %label
    City
  %br
  = text_field :league, :city, :size => 16
.field-block
  %label
    State
  %br
  =collection_select("league","state_id",State.all,"id","name",{ :prompt => 'State', :selected => @league.state_name })
.field-block
  %label
    Description
  %br
  = text_field :league, :description, :size => 35

