#team_nickname_help.help_box{:style => "display: none"}
  Please provide a short name for your school/club.
  For example, if your school is officially named "South Side Regional High School", 
  the nickname would probably be "South Side". 
  The nickname will be used for convenience in various places throughout the site.

#team_help.help_box{:style => "display: none"}
  When you associate yourself with a school or club, each time you log
  into your Global Sports account your landing page will contain
  custom content provided by your school or club such as Athletes of
  the Week, Game of the Week and other news. In addition, your chosen
  school or club receives a donation from Global Sports for each
  member that associates herself/himself with them.
