%hr
.section-head School or Club Association
%br/

%p
  Use the menus below to search for and select your school. 
  If we don't have you in our system, select "My school/club is not listed" to define your information.
%br/

=render :partial => 'new_team_help'

=render :partial => 'registration_pick_team'

=render :partial => 'registration_new_team'