.contentBox.tanBackground
  .contentBoxHeader.yellowHeader
    %span.moreLink
      %a{ :href => "#", :onclick => "return profile_minimize(this)" }
        minimize -
    %h2.boxDescription
      Sports Wall
  .contentBoxContent
    .profileFeature
      .profileInfo
        #newest_comment
        = render :partial => 'comments/comment', :collection => @comments
      
        = render :partial => 'users/profile_comment_form', :locals => {:commentable => @user}
      
      .clearDiv.moreLinkArea
        %span.moreLink
          %a{ :href => "" }
            write a message on my sports wall
          |
          = link_to 'see all messages?', comments_url(@user.class.to_s, @user.to_param)

            
            
            
