.contentBox.tanBackground
  .contentBoxHeader.yellowHeader
    %span.moreLink
      %a{ :href => "#", :onclick => "return profile_minimize(this)" }
        minimize -
    %h2.boxDescription
      My Files
  .contentBoxContent.topRowFixHeight
    .profileFeature.fileFeatures
      - unless @photos.empty?
        - @photos.each do |photo|
          .fileThumb{:style => "text-align: center; vertical-align: middle"}
            = link_to image_tag( photo.public_filename(:icon)), user_photo_path(@user, photo), :class => 'framed'

  .profileFeature.moreLinkArea
    %span.moreLink
      - unless @photos.empty?
        = link_to "more", user_photos_path(@user)
      -if @is_current_user
        - unless @photos.empty?
          |
        = link_to "add", new_user_photo_path(@user)            
        
