- @show_weekly_feature = true

.landingContentArea
  /
    col1 content
  .mainCol1
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %span.moreLink
          %a{ :href => "" }
            more>>
        %h2.boxDescription
          WHAT MY FRIENDS ARE WATCHING
      .contentBoxContent
        .featureSummary
          .featureSummaryThumb
            %img{ :src => "placeholders/story_thumb.jpg" }/
          .featureText
            %h3
              Headline
            %span.sportName
              Foosball
            %br/
            %span.date
              Neverembuary 44, 1981
            %br/
          .clearDiv
        .featureSummary
          .featureSummaryThumb
            %img{ :src => "placeholders/story_thumb.jpg" }/
          .featureText
            %h3
              Headline
            %span.sportName
              Foosball
            %br/
            %span.date
              Neverembuary 44, 1981
            %br/
          .clearDiv
        .featureSummary
          .featureSummaryThumb
            %img{ :src => "placeholders/story_thumb.jpg" }/
          .featureText
            %h3
              Headline
            %span.sportName
              Foosball
            %br/
            %span.date
              Neverembuary 44, 1981
            %br/
          .clearDiv
        .featureSummary
          .featureSummaryThumb
            %img{ :src => "placeholders/story_thumb.jpg" }/
          .featureText
            %h3
              Headline
            %span.sportName
              Foosball
            %br/
            %span.date
              Neverembuary 44, 1981
            %br/
          .clearDiv
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %span.moreLink
          %a{ :href => "" }
            more>>
        %h2.boxDescription
          MY FRIENDS RECENT CLIPS & HIGHLIGHTS 
      .contentBoxContent
        .featureSummary
          .featureSummaryThumb
            %img{ :src => "placeholders/story_thumb.jpg" }/
          .featureText
            %h3
              Headline
            %span.sportName
              Foosball
            %br/
            %span.date
              Neverembuary 44, 1981
            %br/
          .clearDiv
        .featureSummary
          .featureSummaryThumb
            %img{ :src => "placeholders/story_thumb.jpg" }/
          .featureText
            %h3
              Headline
            %span.sportName
              Foosball
            %br/
            %span.date
              Neverembuary 44, 1981
            %br/
          .clearDiv
        .featureSummary
          .featureSummaryThumb
            %img{ :src => "placeholders/story_thumb.jpg" }/
          .featureText
            %h3
              Headline
            %span.sportName
              Foosball
            %br/
            %span.date
              Neverembuary 44, 1981
            %br/
          .clearDiv
        .featureSummary
          .featureSummaryThumb
            %img{ :src => "placeholders/story_thumb.jpg" }/
          .featureText
            %h3
              Headline
            %span.sportName
              Foosball
            %br/
            %span.date
              Neverembuary 44, 1981
            %br/
          .clearDiv
  /
    col2 content
  .mainCol2
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %span.moreLink
          %a{ :href => "" }
            more>>
        %h2.boxDescription
          MOST POPULAR VIDEOS
      .contentBoxContent
        .featureSummary
          .featureSummaryThumb
            %img{ :src => "placeholders/story_thumb.jpg" }/
          .featureText
            %h3
              Headline
            %span.sportName
              Foosball
            %br/
            %span.date
              Neverembuary 44, 1981
            %br/
          .clearDiv
        .featureSummary
          .featureSummaryThumb
            %img{ :src => "placeholders/story_thumb.jpg" }/
          .featureText
            %h3
              Headline
            %span.sportName
              Foosball
            %br/
            %span.date
              Neverembuary 44, 1981
            %br/
          .clearDiv
        .featureSummary
          .featureSummaryThumb
            %img{ :src => "placeholders/story_thumb.jpg" }/
          .featureText
            %h3
              Headline
            %span.sportName
              Foosball
            %br/
            %span.date
              Neverembuary 44, 1981
            %br/
          .clearDiv
        .featureSummary
          .featureSummaryThumb
            %img{ :src => "placeholders/story_thumb.jpg" }/
          .featureText
            %h3
              Headline
            %span.sportName
              Foosball
            %br/
            %span.date
              Neverembuary 44, 1981
            %br/
          .clearDiv
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %span.moreLink
          %a{ :href => "" }
            more>>
        %h2.boxDescription
          RECENT FULL GAME UPLOADS
      .contentBoxContent
        .featureSummary
          .featureSummaryThumb
            %img{ :src => "placeholders/story_thumb.jpg" }/
          .featureText
            %h3
              Headline
            %span.sportName
              Foosball
            %br/
            %span.date
              Neverembuary 44, 1981
            %br/
          .clearDiv
        .featureSummary
          .featureSummaryThumb
            %img{ :src => "placeholders/story_thumb.jpg" }/
          .featureText
            %h3
              Headline
            %span.sportName
              Foosball
            %br/
            %span.date
              Neverembuary 44, 1981
            %br/
          .clearDiv
        .featureSummary
          .featureSummaryThumb
            %img{ :src => "placeholders/story_thumb.jpg" }/
          .featureText
            %h3
              Headline
            %span.sportName
              Foosball
            %br/
            %span.date
              Neverembuary 44, 1981
            %br/
          .clearDiv
        .featureSummary
          .featureSummaryThumb
            %img{ :src => "placeholders/story_thumb.jpg" }/
          .featureText
            %h3
              Headline
            %span.sportName
              Foosball
            %br/
            %span.date
              Neverembuary 44, 1981
            %br/
          .clearDiv
  /
    col3 content
  .mainCol3
    .rightContentItem
      %span.moreLink
        %a{ :href => "" }
          more>>
      %h2
        Item
      %a.articleLink{ :href => "" }
        very very long link goes in here for testing purposes
    .rightContentItem
      %span.moreLink
        %a{ :href => "" }
          more>>
      %h2
        Item
      %a.articleLink{ :href => "" }
        very very long link goes in here for testing purposes




                
                
                
                