.homeText{:style => 'background-image: none'}
  %h1
    Forgot Your Password?
  %br/
  %br/
  %p
    %strong
      We can reset it right here.
  %p
    - form_tag '/forgot_password', :class => 'MainForm' do
      %label{"for"=>"email"} Enter your email address:
      = text_field_tag 'email', nil, :size => 35
      %p
        = submit_tag 'Reset my password'
  .clearDiv
