- @section = @user.eql?(current_user) ? 'my_profile' : 'users'
- @sidebar_left = true

.profileContentArea
  .profilePageHeader
    %h2.columnDescriptor
      %span
        PROFILE
      = @user.full_name
  .leftNavCol
    %h2.yellowHeader
      My Profile
    .leftNav
      =render :partial => "users/profile_nav"
  /
    col1 content
  .mainCol1
    =render :partial => "users/profile_photo"

    =render :partial => "users/profile_about"
  
    =render :partial => "users/profile_friends"
  /
    col2 content
  .mainCol2
    =render :partial => "users/profile_myfiles"
                
    =render :partial => "users/profile_favs"
  /
    col3 content
  .mainCol3
    =render :partial => "users/profile_info"

    =render :partial => "users/profile_clips_reels"
                
    =render :partial => "users/profile_activity"
                
    =render :partial => "users/profile_testify"
     
     


