- load_features()

- @section = @user.eql?(current_user) ? 'my_profile' : 'users'
- @sidebar_left = true

.profileContentArea
  .profilePageHeader
    -if current_user && current_user.id != @user.id
      %div{ :style => "float:right; margin-right: 20px" }
        =render :partial => "shared/inappropriate_item", :locals => {:item, @user}
    %h2.columnDescriptor
      %span
        =link_to _('PROFILE'), user_path
      = @user.full_name
      - if current_user && current_user.can_request_friendship_with(@user)
        &nbsp; &nbsp;
        = add_friend_link(@user)
  /
    col1 content
  .mainCol1
    =render :partial => "users/profile_photo"

    =render :partial => "users/profile_about"
  
    =render :partial => "users/profile_friends"
  /
    col2 content
  .mainCol2
    =render :partial => "users/profile_membership_notice"
    
    =render :partial => "users/profile_myfiles"
                
    =render :partial => "users/profile_favs"
  /
    col3 content
  .mainCol3
    =render :partial => "users/profile_info"

    =render :partial => "users/profile_clips_reels"
                
    =render :partial => "users/profile_activity"
                
    =render :partial => "users/profile_testify"
     
     


