.legal
  %span
    © Global Sports 2008 |
    %a{ :href => "" }
      Terms of Use
    |
    %a{ :href => "" }
      Privacy Policy
    |
    %a{ :href => "" }
      Advertising Opportunities
    |
    %a{ :href => "" }
      Contact Us