.weeklyFeature
  .featureCol.featureVertRule.featureFloat.weeklyCol1
    %span.yellowHeader
      %h3
        Weekly Headline Here
    .featureSummaryThumb
      %img{ :src => "/gs/placeholders/large_story_thumb.jpg" }/
    .featureText
      %h3
        Headline
      %span.sportName
        Foosball
      %br/
      %span.date
        Neverembuary 44, 1981
      %br/
    .clearDiv
  .featureCol.featureVertRule.featureFloat.weeklyCol2
    %span.yellowHeader
      %h3
        Weekly Headline Here
    .featureSummaryThumb
      %img{ :src => "/gs/placeholders/large_story_thumb.jpg" }/
    .featureText
      %h3
        Headline
      %span.sportName
        Foosball
      %br/
      %span.date
        Neverembuary 44, 1981
      %br/
    .featureSummaryThumb
      %img{ :src => "/gs/placeholders/large_story_thumb.jpg" }/
    .featureText
      %h3
        Headline
      %span.sportName
        Foosball
      %br/
      %span.date
        Neverembuary 44, 1981
      %br/
    .clearDiv
  .featureCol.featureFloat.weeklyCol3
    %span.yellowHeader
      %h3
        Longer Weekly Headline Here
    %a.arrowButton{ :href => "" }
      %img{ :src => "images/top_nav_search.gif" }/