.util
%form#login{ :action => sessions_path, :method => "post" }
  .headerHome
    %h1.headerBrand= "#{AppConfig.community_name}"
    .loginBox
      %label{:for => "login"} USERNAME
      = text_field_tag 'login', nil, :class => 'loginFormInput'
      %br/
      %label{:for => "password"} PASSWORD
      %br/
      = password_field_tag 'password', nil, :class => 'loginFormPassword'
      %input#loginButton.submit{ :name => "submit", :src => "/gs/images/top_nav_login.gif", :type => "image", :value => "Login", :alt => "Login" }/
      %br/
      %span.loginHelp
        %a{ :href => url_for(:controller => 'users', :action => 'register')  }
          signup &raquo;
        |
        %a{ :href => forgot_password_path }
          password help &raquo;
    .clearDiv

.topNav
  %ul.leftTopNav
    %li
      %span#gnavAboutGlobalSports.ROLLOVERIMAGE
        %a{ :href => "/info/about" }
          %span
            About Global Sports
    %li.divider
      %span#gnavMembership.ROLLOVERIMAGE
        %a{ :href =>  '/info/membership' }
          %span
            Membership
    %li.divider
      %span#gnavRegistration.ROLLOVERIMAGE
        %a{ :href => url_for(:controller => 'users', :action => 'register')  }
          %span
            Registration
            
            
  -# form_for :search_video_asset, VideoAsset.new, :url => {:controller => 'search', :action => 'quickfind' }, :html => {:id=>'videoFind'} do |f|
    =collection_select("search_video_asset","game_date",VideoAsset.seasons(),"year","year",{:prompt => '-Season-', :selected => '-Season-'}, {:id => "videoFindSeason", :name => 'season'})
    %label.verbalSemantic{ :for => "videoFindSeason" }
      Season
    =collection_select("team","state_id",Team.states(),"state_id","state_name", {:prompt => "-State-", :selected => "-State-"}, {:id => 'videoFindState', :name => 'state'})
    %label.verbalSemantic{ :for => "videoFindState" }
      State
    =collection_select("team","county_name",Team.counties(),"county_name","county_name",{:prompt => "-County-", :selected => "-County-"}, {:id => 'videoFindCounty', :name => 'county_name'})
    %label.verbalSemantic{ :for => "videoFindCounty" }
      County
    =collection_select("league","id",League.find(:all),"id","name",{:prompt => "-League-", :selected => '-League-'}, {:id => 'videoFindLeague', :name => 'league'})
    %label.verbalSemantic{ :for => "videoFindLeague" }
      League
    =collection_select("search_video_asset","sport",VideoAsset.sports(),"sport","sport",{:prompt => "-Sport-", :selected => '-Sport-'}, {:id => 'videoFindSport', :name => 'sport'})
    %label.verbalSemantic{ :for => "videoFindSport" }
      Sport
    %input#videoFindSubmit.submit{ :name => "submit", :src => "/gs/images/video_find_submit.gif", :type => "image", :value => "search", :alt => "Search" }/
    %label.verbalSemantic{ :for => "videoFindSubmit" }
      Video Find
  
  - form_for :team, :url => {:controller => 'search', :action => 'teamfind' }, :html => {:id=>'teamFind', :class=>'rightTopNav'} do |f|
    %div
      %h2
        Search for My School
      %label.verbalSemantic{ :for => "searchState" }
        State
      =collection_select("team","state_id",Team.states(),"state_id","state_name", {:prompt => "-State-", :selected => "-State-"}, {:id => 'searchState', :name => 'state'})
      %label.verbalSemantic{ :for => "searchCounty" }
        County
      =collection_select("team","county_name",Team.counties(),"county_name","county_name",{:prompt => "-County-", :selected => "-County-"}, {:id => 'searchCounty', :name => 'county'})
      %label.verbalSemantic{ :for => "searchCity" }
        City
      =collection_select("team","city",Team.cities(),"city","city",{:prompt => "-City-", :selected => "-City-"}, {:id => 'searchCity', :name => 'city'})
      -#%label.verbalSemantic{ :for => "searchSchool" }
        School
      -#=collection_select("team","name",Team.schools(),"name","name",{:prompt => "-School-", :selected => "-School-"}, {:id => 'searchSchool', :name => 'name'})
      %input.submit{ :name => "submit", :type => "image", :src => "/gs/images/top_nav_search.gif", :value => "search", :alt => "Search" }/
      
      
      
      
      
      
      
      
