.footer
  .footerAds
    %span.footerAd
      =render :partial => "shared/bottom_ad"
    %span.footerAd
      =render :partial => "shared/bottom_ad"
    %span.footerAd
      =render :partial => "shared/bottom_ad"
    %span.footerAd
      =render :partial => "shared/bottom_ad"

