.legal
  %span
    &copy; Global Sports 2008 |
    %a{ :href => "/info/terms" }
      Terms of Use
    |
    %a{ :href => "/info/privacy" }
      Privacy Policy
    |
    %a{ :href => "/info/advertising" }
      Advertising Opportunities
    |
    %a{ :href => "/info/contact" }
      Contact Us