.util
%form#login{ :action => sessions_path, :method => "post" }
  .headerHome
    %h1.headerBrand= "#{AppConfig.community_name}"
    .loginBox
      %label{:for => "login"} USERNAME
      = text_field_tag 'login', nil, :class => 'loginFormInput'
      %br/
      %label{:for => "password"} PASSWORD
      %br/
      = password_field_tag 'password', nil, :class => 'loginFormPassword'
      %input#loginButton.submit{ :name => "submit", :src => "/gs/images/top_nav_login.gif", :type => "image", :value => "Login", :alt => "Login" }/
      %br/
      %span.loginHelp
        %a{ :href => url_for(:controller => 'users', :action => 'register')  }
          signup &raquo;
        |
        %a{ :href => forgot_password_path }
          password help &raquo;
    .clearDiv

.topNav
  %ul.leftTopNav
    %li
      %span#gnavAboutGlobalSports.ROLLOVERIMAGE
        %a{ :href => "/info/about" }
          %span
            About Global Sports
    %li.divider
      %span#gnavMembership.ROLLOVERIMAGE
        %a{ :href =>  '/info/membership' }
          %span
            Membership
    %li.divider
      %span#gnavRegistration.ROLLOVERIMAGE
        %a{ :href => url_for(:controller => 'users', :action => 'register')  }
          %span
            Registration
  -#%form.rightTopNav{ :action => "#", :method => "get" }
    %div
      %h2
        Search for My School
      %label.verbalSemantic{ :for => "searchState" }
        State
      %select#searchState{ :name => "state" }
        %option{ :value => "" }
          \- State -
        %option{ :value => "" }
          State
        %option{ :value => "" }
          State
        %option{ :value => "" }
          State
      %label.verbalSemantic{ :for => "searchCounty" }
        County
      %select#searchCounty{ :name => "county" }
        %option{ :value => "" }
          \- County -
        %option{ :value => "" }
          County
        %option{ :value => "" }
          County
        %option{ :value => "" }
          County
      %label.verbalSemantic{ :for => "searchCity" }
        City
      %select#searchCity{ :name => "city" }
        %option{ :value => "" }
          \- City -
        %option{ :value => "" }
          City
        %option{ :value => "" }
          City
        %option{ :value => "" }
          City
      %label.verbalSemantic{ :for => "searchSchool" }
        School
      %select#searchSchool{ :name => "school" }
        %option{ :value => "" }
          \- School -
        %option{ :value => "" }
          School
        %option{ :value => "" }
          School
        %option{ :value => "" }
          School
      %input.submit{ :name => "submit", :type => "image", :src => "images/top_nav_search.gif", :value => "search", :alt => "Search" }/
