#NavChat
  CHAT | 
  %br
  =link_to "send invites", ""
  |
  =link_to "my account ", ""
  |
  - unread = Message.unread(current_user)
  - mcount = (unread > 0) ? "(#{unread})" : ''
  =link_to "mailbox #{mcount}", messages_path()