
- if current_page?(:action => 'show')

  - video = @video_clip || @video_reel || @video_asset || @video_user
  - if video
    %meta{:name=>'title', :content=>video.title}
    %meta{:name=>'description', :content=>video.description}
    %link{:rel=>'image_src', :href=>@vidavee.file_thumbnail_medium(video.thumbnail_dockey || video.dockey)}
  
  -# inject FB meta tags for shared_access
  - if @shared_access && @shared_access.video? && @shared_access.item
    %meta{:name=>'title', :content=>@shared_access.item.title}
    %meta{:name=>'description', :content=>@shared_access.item.description}
    %link{:rel=>'image_src', :href=>@vidavee.file_thumbnail_medium(@shared_access.item.thumbnail_dockey || @shared_access.item.dockey)}
    - if params[:embed]
      - abs_share_url = "#{APP_URL}/players/previewPlayer.swf?sakey=#{@shared_access.key}&dockeys=#{@shared_access.item.dockey}"
      %link{:rel=>'video_src', :href=>abs_share_url}
      %meta{:name=>'video_height', :content=>"300"}
      %meta{:name=>'video_width', :content=>"400"}
      %meta{:name=>'video_type', :content=>'application/x-shockwave-flash'}