%li{:id => "favorite_#{item.class.to_s}_#{item.id}" }
  -if Favorite.favorite?(current_user, item)
    = link_to_remote "Unfavorite", {:url => {:controller => :favorites, :action => :remove, :favoritable_type => item.class.to_s, :favoritable_id => item.id}}, :class => 'genericButton', :onmouseover => "window.status='Unfavorite item'; return true;", :onmouseout => "window.status=''; return true;"
  - else
    = link_to_remote "Mark as Favorite", {:url => {:controller => :favorites, :action => :create, :favoritable_type => item.class.to_s, :favoritable_id => item.id }}, :class => 'genericButton', :onmouseover => "window.status='Mark the item as a favorite'; return true;", :onmouseout => "window.status=''; return true;"
