%span.favorite_count_container{:id => "favorite_count_#{item.type}_#{item.id}"}
  %span.schoolName.favorite_count
    Favorited:
  %span.recentFriendFeed
    = "#{pluralize(Favorite.count_for_item(item),'time')}"