%span#location_chooser
  Country:
  %br
  = select_tag(:country_id, '<option></option>'+options_from_collection_for_select(Country.all, "id", "name", selected_country), {:style => "width:100px"})
  = "<br />State: <br />" + select_tag(:state_id, '<option></option>'+options_from_collection_for_select(State.find(:all), "id", "name", (selected_state rescue nil)), {:style => "width:100px", :disabled => states.empty? } )
