.registerPopup
  - close = true if close.nil?
  - if close
    .closer
      %href{ :onclick=>"$('dialog').update('')" } 
        close[x]
      
  %h2
    Register Today!
  %br

  To access our library of full game videos, and to create your own clips and highlight reels, 
  = link_to 'register today!', register_path()
  Find out more about our membership plans and how your contribution helps your school.

  %br
  %br
  %h2
    Already a member?  

  %form#login{ :action => sessions_path, :method => "post" }
    %label{:for => "login"}
      Username (email address):
      = text_field_tag 'login', nil, :class => 'loginFormInput'
    %br  
    %br
    %br
    %label{:for => "password"}
      Password:
      = password_field_tag 'password', nil, :class => 'loginFormPassword'
    %br  
    %br
    %br
    %br
    %p{ :align=>'center' }
      %input#loginButton.submit.button{ :name => "submit", :src => "/gs/images/top_nav_login.gif", :type => "image", :value => "Login", :alt => "Login" }/
  
  
%br
%br