%p
  For your safety and security, we require that you enter your card verification number. The verification number is a 3 or 4-digit number printed on your card. 
  If you are using a Visa, Mastercard, or Discover card, it is a 3 digit number that appears to the right of your card number (see below).

%p{ :align=>'center' }
  %img{ :src=>'/images/csc.png' }

%p
  If you are using an American Express card, the verification number is a 4 digit number that appears on the front of your card, above and either on the left or right of the card number (see below)

%p{ :align=>'center' }
  %img{ :src=>'/images/csc-amex.png' }

%p
  If your card does not have a verification number, try another card or enter the number 000. 