%tr
  %td
    =membership.name
  %td
    =membership.billing_method
  %td
    ="$" + membership.cost.to_s
  %td
    =membership.created_at.to_date
  %td
    =membership.users.length
  %td
    =link_to "Billing History", :controller => "billing", :action => "member_billing_history", :id => membership.id 
