%tr.forumList
  %td.forumList
    =link_to membership.name, user_path(membership.user.id)
    ="(#{membership.user.id})"
  %td.forumList
    - if membership.billing_method == Membership::CREDIT_CARD_BILLING_METHOD
      =link_to 'Credit Card',:controller => :membership, :action => :member_billing_method_info ,:id => membership.id
    - elsif membership.purchase_order
      =link_to 'Purchase Order',:controller => :purchase_order, :action => :show, :id => membership.purchase_order.id
    - else
      = membership.billing_method
  %td.forumList.numeric
    =number_to_currency(membership.cost)
  %td.forumList
    - if membership.promotion != nil
      =link_to membership.promotion.promo_code, promotion_path(membership.promotion.id)
  %td.forumList
    =membership.created_at.to_date
  %td.forumList
    - if membership.canceled?
      %span{ :style => "color:red" }
        - if membership.membership_cancellation.nil?
          Canceled
        - else
          =membership.membership_cancellation.created_at.to_date
  %td.forumList
    =link_to 'Billing History', :controller => :membership, :action => "member_billing_history", :id => membership.id 
