%tr.forumList
  %td.forumList
    ="#{userlist.lastname},#{userlist.firstname}, #{userlist.minitial}"
  %td.forumList
    =userlist.created_at.to_date
  %td.forumList
    =userlist.enabled? ? "Y" : "N"
  %td.forumList
    =userlist.memberships[0].nil? ? "NA" : userlist.memberships[0].name
