/* CSS file */

.videoCtrlPnlStopBtn
{
    overSkin:Embed(source='images/rewind_Button.png');
    upSkin:Embed(source='images/rewind_Button.png');
    selectedUpSkin:Embed(source='images/rewind_Button.png');
    selected-over-skin:Embed(source='images/rewind_Button.png');
}

.videoCtrlPnlPlayBtn
{
    overSkin:Embed(source='images/playButton.png');
    upSkin:Embed(source='images/playButton.png');
    selectedUpSkin:Embed(source='images/playButton.png');
    selected-over-skin:Embed(source='images/playButton.png');
}

.videoCtrlPnlHelpBtn
{
    overSkin:Embed(source='images/help.png');
    upSkin:Embed(source='images/help.png');
    selectedUpSkin:Embed(source='images/help.png');
    selected-over-skin:Embed(source='images/help.png');
}

.videoCtrlPnlPauseBtn
{
    overSkin:Embed(source='images/pauseButton.png');
    upSkin:Embed(source='images/pauseButton.png');
    selectedUpSkin:Embed(source='images/pauseButton.png');
    selected-over-skin:Embed(source='images/pauseButton.png');
}

.videoCtrlPnlMuteBtn
{
    overSkin:Embed(source='images/mute2.png');
    upSkin:Embed(source='images/mute2.png');
    selectedUpSkin:Embed(source='images/mute2.png');
    selected-over-skin:Embed(source='images/mute2.png');
}

.videoCtrlPnlUnMuteBtn
{
    overSkin:Embed(source='images/sound.png');
    upSkin:Embed(source='images/sound.png');
    selectedUpSkin:Embed(source='images/sound.png');
    selected-over-skin:Embed(source='images/sound.png');
}

