
/* generic button */
.genericButton, .genericButton:visited {
	color: #FFEF0A;
	text-align: center;
	display: block;
	width: 116px;
	padding-top: 2px;
	height: 15px;
	background-image: url("/gs/images/generic_button.gif");
	background-repeat: no-repeat;
	background-position: left top;
	text-decoration: none;
	font-size: 100%;
}
.genericButton:active {
	background-position: right top;
}

/* friend feed parts */
.recentFriendFeed {
}

/* listing */
.listingPage .leftNavCol{
	padding-top: 0px;
}
.listings .moreLinkArea .moreLink{
	float:left;
}
.listings .moreLinkArea .moreLink a{
	color: #666666;
}
.listings .moreLinkArea{
	width: 100%;
	padding-left: 10px;
	height:18px;
	background-color: transparent;
}
.friendSearchWidgetArea{
	margin-top:18px;
	padding-bottom: 18px;
}
.friendSearchColumn{
	display: block;
	width: 50px;
	height: 15px;
	float:left;
	margin-left:18px;
	font-size: 110%;
}
.friendSearchWidgetColumn{
	display: block;
	width: 300px;
	height: 25px;
}
.friendSearchWidgetColumn *{
	float:left;
}
.friendSearchWidgetColumn input {
	height: 18px;
	padding: 0;
	margin-right:5px;
	font-size: 10px;
}
#friendSearchTerms{
	width:76px;
}
.friendSearchWidgetColumn option {
	float:none;
}
.listings{
	width:801px;
	padding: 20px 10px 10px 0px;
	float:left;
	background-color: #ffffff;	
}
.listingItem {
	display: block;
	background-color: #E2E4A7;
	padding: 9px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.listingImage {
	float: left;
	margin-right: 9px;
}
.listingImage img {
	border: 1px solid #9c9c9c;
}
.listingDescription {
	float: left;
}
.listingDescription h4 {
	font-size: 120%;
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #3A4427;
}
.listingDescription .schoolName {
	color: #000000;
	margin-bottom: 5px;
}
.listingDescription .recentFriendFeed {
	color: #666666;
}
.listingDescription .moreLink {
	float: none;
	margin-left: 10px;
}
.listingDescription .moreLink a, .listingDescription .moreLink a:visited {
	color: #666666;
	font-size: 90%;
}
.listingActions {
	float: right;
	list-style:none;
}
.listingActions li {
	margin-bottom: 10px;
}
