/* mailbox styles */



.mailSelectSort {
	width: 90px;
}

.mailSearchColumn{
	width: 50px;
	height: 15px;
	float:left;
	margin-left:18px;
	font-size: 110%;
	position: relative;
	top: 3px;
}

.mailSortBy {
	width: 125px;

}

.mailItemSelected {
	background-color: #E2E4A7;
	width: auto;
	display: block;
	height: auto;
	border: 2px solid #333333;
}

.mailItem {
	background-color: #E2E4A7;
	width: auto;
	display: block;
	height: auto;
	margin-bottom: 10px;
}


.mailIEFix {
	height: 10px;
}
.mailReadMessage a {
	color: #666666;
}

.mailReadMessage {
	font-size: 90%;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
}

.mailPostSummary {
	float: left;
	width: 490px;
	padding: 10px;
}
.mailPostSummaryBody strong {
	font-size: 115%;
}

.mailPostSummaryDate {
	padding-bottom: 10px;
}

.mailPostSummaryBody {
	background-color: #FFFFFF;
	padding: 10px;
}


.mailPostSummaryBody p {
	background-color: #FFFFFF;
	display: block;
}

.mailSenderSelect {
	float: left;
	width: 25px;
	padding-top: 50px;
	text-align: center;
	padding-left: 3px;
}

.mailPoster {
	width: 85px;
	float: left;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	text-align: center;
}

.mailPosterImg a {
	border: 2px solid #666666;
}

.mailPosterImg a:hover {
	border: 2px solid #0066CC;
}

.mailPoster a {
	font-size: 110%;
	color: #333333;
	text-align: left;
	display: block;
	margin-top: 5px;
}

.mailPoster a:hover {
	font-size: 110%;
	color: #333333;
	text-decoration: none;	
}

.mailContainer{
	width:801px;
	float:left;
	background-color: #ffffff;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	}

#mailSearchTerms{
	width:88px;
}

.mailMoreLink {
	margin-right:7px;
	text-align: left;
	padding-left: 10px;
	clear: both;
	padding-bottom: 4px;
}

.mailMoreLink a{
	color: #666666;
}

.mailSearchWidget {
	display: block;
	width: 300px;
	height: 25px;
	
}

.mailSelect {
	font-size: 110%;
	margin-right: 10px;
	display: block;
	float: left;
		position: relative;
	top: 3px;
	}


.mailSearchOptions {
	width: 460px;
	float: right;
}


.mailSearchOptionsLeft {
	width: 300px;
	float: left;
}

.mailButtonsRight {
	float: right;
	width: 135px;
}

.mailButtonsLeft {
	float: right;
	width: 135px;
}
.mailSearchWidgetColumn{
	display: block;
	width: 220px;
	height: 25px;
}

.mailSelectLeft {
	width: 185px;
}

.mailSearchBox {
	height: 17px;
	border: 1px solid #666666;
}

.mailSubmit {
	position: relative;
	top: 2px;
}

.mailMarginTop {
	height: 20px;
}
/* forum styles */

.forumContainer{
	width:801px;
	padding: 20px 0px 10px 0px;
	float:left;
	background-color: #ffffff;	
}

.forumIEfix {
	background-color: #FFFFFF;
}

.forumContentBox {
	margin-left: 10px;
	margin-bottom:20px;
}

.forumBoxHeader h2 {
	padding-bottom: 10px;
	float: left;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 5px;
}

.forumDescription {
  padding: 20px 10px 20px 10px;
  background-color: #E2E4A7;
  width: auto;
  display: block;
  margin-bottom: 10px;
}

.padded {
	padding: 5px 5px 5px 5px; 
}
tr.forumList {
  background-color: #E2E4A7;
  border-bottom: 2px solid #ffffff; 
}
td.forumList,th.forumList { 
  padding: 10px 5px 10px 5px; 
  border-bottom: 2px solid #ffffff; 
}

#monitor_topic {
  float: right;
}

.forumTags {
  margin-left: 25px;
}

.forumVoices {
  margin-left: 25px;
}

.forumPost {
	background-color: #E2E4A7;
	width: auto;
	display: block;
	height: auto;
	margin-bottom: 10px;
}
.forumPoster {  
	height: 150px;
	width: 100px;
	float: left;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
}
.forumPoster a img {
	border: 2px solid #666666;
}
.forumPoster a:hover img {
  border: 2px solid #0066CC;
}


.forumPoster a {
	font-size: 110%;
	color: #333333;
	display: block;
	text-align: left;
	padding-left: 6px;
	padding-top: 5px;
}

.forumPoster a:hover {
	font-size: 110%;
	color: #333333;
}

.forumPostSummary {
	float: left;
	width: 525px;
	padding-top: 25px;
	padding-right: 10px;
	padding-left: 10px;
}

.forumPostSummaryBody {
  background-color: #FFFFFF;
  padding: 10px;
  margin-bottom: 10px;
}

.forumPostSummaryBody p {
  background-color: #FFFFFF;
  display: block;
  margin-bottom: 10px;
}

.forumPostSummaryDate {
  display: block;
	padding-bottom: 10px;
}

.forumPostSummaryTopic {
  display: block;
  padding-bottom: 10px;
  font-weight: bold;
}

.forumPostTags {
	margin-top: 10px;
}

.forumActions {
	float: right;
	width: 125px;
	padding-top: 30px;
	padding-left: 10px;
}

.forumActions li {
  margin-bottom: 10px;
}

/* image replacement button */

.InputButtonFP {
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #141C35;
	border: 1px solid #FFFFFF;
	cursor: pointer;
	padding: 3px;
	margin-left: 3px;
}


.InputButtonFP:hover {
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #205F97;
	border: 1px solid #FFFFFF;
	cursor: pointer;
	padding: 3px;
	margin-left: 3px;
}

.InputButton {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #999999;
	background-color: #333333;
	border: 1px solid #000000;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	cursor: pointer;
}

.InputButton:hover {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	background-color: #333333;
	border: 1px solid #333333;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	cursor: pointer;
}

/* image replacement button experiments */

.ImageButton {
	background-image: url(../images/account_continue.png);
	background-repeat: no-repeat;
	height: 36px;
	width: 238px;

}

.genericFormButton, .genericFormButton:visited {
	color: #FFEF0A;
	text-align: center;
	/* display: block; */
	width: 116px;
	padding-top: 2px;
	height: 17px;
	background-image: url("/gs/images/generic_button.gif");
	background-repeat: no-repeat;
	background-position: left top;
	text-decoration: none;
	font-size: 90%;
	vertical-align: middle;
}
.genericFormButton:active {
	background-position: right top;
}


/* Profile Edit Styles */


.profileLeftCol {
	width: 370px;
	position: relative;
	left: 0px;
	float: left;
	padding-left: 15px;
}


.profileRightCol {
	width: 365px;
	float: right;
	padding-right: 15px;
}


.profileBirthday {
	padding-left: 25px;
	font-size: 120%;
	margin-top: 25px;
	padding-bottom: 25px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}

.profileBirthday select {
	margin-left: 10px;	
}


.profileContentBox {

	margin-left: 20px;
	margin-bottom:20px;
	background-color: #E2E4A7;
}

.ProfileFav {
	padding-top: 10px;
}

.ProfileFav label {
	font-size: 110%;
	color: #333333;
	display: block;
	padding-top: 2px;
	padding-left: 5px;
}

.ProfileFav textarea {
	border: 1px solid #666666;
	width: 360px;
	margin-left: 5px;
	overflow: auto;
}

.ProfileYourCat {
	
	padding-top: 10px;
}

.ProfileCatLabel {
	width: 80px;
	height: 20px;
	float: left;
	font-size: 130%;
}

.ProfileCatInput {
	width: 265px;
	border: 1px solid #666666;
	font-size: 110%;
	overflow: auto;
}

.ProfileCat {
	background-color: #C1C38F;
	padding: 5px;
}

.profileRem {
	text-align: right;
	padding: 10px;
}

.ProfileSave {
	padding: 15px;
	text-align: right;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #999999;
}

/* Registration Styles */

.AcountType h2 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	color: #333333;
	margin-top: 20px;
	margin-bottom: 5px;
}

.accountContinue {
	text-align: right;
	margin-top: 20px;
	margin-bottom: 35px;
}

.accountContinue p {
	margin-top: 10px;
	font-size: 11px;
	font-style: italic;
	color: #666666;
}

.AccountDescriptionAthletes {
	width: 515px;
	float: right;
	padding-right: 10px;
	margin: 0px;
	padding-top: 30px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-image: url(../images/account_athletes_coaches_parents.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;
}

.AccountDescriptionSchools {
	width: 515px;
	float: right;
	padding-right: 10px;
	margin: 0px;
	padding-top: 30px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-image: url(../images/account_schools_and_clubs.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;
}

.AccountDescriptionLeagues {
	width: 515px;
	float: right;
	padding-right: 10px;
	margin: 0px;
	padding-top: 30px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-image: url(../images/account_leagues_conferences.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;
}

.AccountDescriptionScouts {
	width: 515px;
	float: right;
	padding-right: 10px;
	margin: 0px;
	padding-top: 30px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-image: url(../images/account_scouts.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;
}

.SelectedAccount h2 { /* Hides the h2 in account description for image replacement */
	opacity: 0;
	filter: alpha(opacity=0);
	padding: 0px;
	margin-bottom: 20px;	
	position: absolute; left: -9000px
}

.UnSelectedAccount h2 { /* Hides the h2 in account description for image replacement */
	opacity: 0;
	filter: alpha(opacity=0);
	padding: 0px;
	margin-bottom: 20px;
	position: absolute; left: -9000px	
}

.SelectedAccount p {
	font-size: 11px;
	color: #666666;
	margin: 0px;
	padding: 0px;
}

.AccountIllustration {
	height: 99px;
	width: 131px;
	position: relative;
	float: left;
}

.AccountRadio {
	margin: 0px;
	width: 50px;
	height: 59px;
	position: relative;
	text-align: center;
	padding-top: 40px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	float: left;
}

.SelectedAccount {
	width: 715px;
	height: 99px;
	background-color: #F4F6CD;
	margin-top: 10px;
}

.UnSelectedAccount {
	width: 715px;
	height: 99px;
	background-color: #FFFFFF;
	margin-top: 10px;
	border: 1px solid #CCCCCC;
}

.SideBar h1 {
	font-size: 13pt;

}

.AcountType {
	margin-top: 35px;
	width: 715px;
}

.AcountType h1{
	font-size: 15pt;
	width: 715px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 5px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #000000;
}

.RegContent { /* Set Text Margins Here */
	margin: 0px;
	padding-top: 15px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 15px;

}

.RegistrationTrail {
	font-size: 8pt;
	color: #999999;
	margin-top: 5px;
}

.RegistrationComplete {

	color: #000000;
}

.RegistrationContent {
	width: 715px;
	float: right;
}

.SideBar {
	width: 175px;
	float: left;
}

.SideBar p {
	color: #999999;
	margin-top: 1em;
}

.SideBar a {
	color: #999999;
}

/* Login Box */
.loginBox {
	width:255px;
	float:right;
	margin-top:20px;
	margin-right:2px;
}

.loginFormInput {
	width:160px;
	height:17px;
	border:1px solid #666666;
	margin-bottom: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

.loginFormPassword {
	width:100px;
	height:17px;
	border:1px solid #666666;
	margin-left: 0px;
}

.loginBox label {
	float: left;
	text-align: right;
	margin-right: 5px;
	margin-top: 5px;
	display: block;
	width: 65px;
}
.loginButton {
	margin: 0px;
	padding: 0px;
	top: 4px;
	position: relative;
}

.loginHelp {
	margin-left:70px;
	margin-top: 10px;
}

.loginHelp a {
	color: #ffffff;
}

/*home page layout */

.homeFlash {
	float:right;
	width:580px;
	height:395px;
	background-image: url(../images/videoplayer_background.png);
	background-repeat: no-repeat;
}


.homeFlash h1 { /* Styles for the Error message displayed if JavaScript is disabled or SWFObject Fails */
	color:#ffffff;
	background-image: url(../images/error_icon.gif);
	background-repeat: no-repeat;
	height: 45px;
	margin-top: 25px;
	margin-right: 25px;
	margin-bottom: 25px;
	margin-left: 25px;
	padding-left: 55px;
	padding-top: 6px;
}

.homeFlash p {
	margin-left: 25px;
	margin-right: 25px;
	color:#ffffff;
}

.homeText {
	width:330px;
	margin: 0px;
	padding-top: 25px;
	padding-right: 20px;
	padding-bottom: 25px;
	padding-left: 15px;
	background-image: url(../images/home_welcome_to_global_sports.gif);
	background-repeat: no-repeat;
	background-position: 15px 20px;
	color:#4D4D4D;
	font-family: Arial, Helvetica, sans-serif;
}

/*hides the Welcome <h1> so we can replace it with an image, for some reason the standard method failed here in IE, so added an extra rule below */
.homeTextWelcome, .homeTextWelcome h1 { 
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute; left: -9000px
}

.homeText p {
	font-size: 11px;
	margin-top: 2em;
	margin-right: 0em;
	margin-bottom: 0em;
	margin-left: 0em;
}

.homeText strong {
	font-size: 14pt;
}

/* home page three col feature layout */

.homeFeature{
	height: 198px;
	background:transparent url("/gs/images/homeFeature_background.png") repeat-x scroll left bottom;
	color: #ffffff;
	width: 956px;
	margin: auto;
	text-align: left;
}

.homeFeature h2 {  /* hides the <h1> so we can replace it with an image */
	opacity: 0;
	filter: alpha(opacity=0);
	padding: 0px;
	height: 35px;
}


.homeFeatureLeft {
	float: left;
	width: 350px;
	background-image: url(../images/home_athletes_of_the_week.gif);
	background-repeat: no-repeat;
	background-position: 20px 10px;
	margin: 0px;
	padding: 0px;
}

.homeFeatureMiddle {
	background-image: url(../images/home_become_a_member.gif);
	background-repeat: no-repeat;
	background-position: 20px 10px;
	width: 315px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: left;
}

.homeFeatureRight {
	background-image: url(../images/home_send_invites.gif);
	background-repeat: no-repeat;
	background-position: 20px 10px;
	width: 289px;
	float: right;
	margin: 0px;
	padding: 0px;
}

/* About Styles */

.TextContent { /* Set Text Margins Here */
	margin: 0px;
	padding-top: 15px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 15px;

}

/* Font Styles */

.TextContent p {
	font-family: Helvetica, Arial, sans-serif;
	color: #999999;
	margin-top: 1em;
	font-size: 10pt;
}

.TextContent h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16pt;
	color: #000000;
	margin-bottom: 6pt;
}


.AboutVideoPlayer {
	height: 316px;
	width: 400px;
}
.TextContent strong {
	font-family: Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 11pt;
	font-weight: normal;
	color: #666666;
}

.AboutVideoPlayer h1 { /* Styles for the Error message displayed if JavaScript is disabled or SWFObject Fails */
	background-image: url(../images/error_icon.png);
	background-repeat: no-repeat;
	height: 45px;
	margin-top: 25px;
	margin-right: 25px;
	margin-bottom: 25px;
	margin-left: 25px;
	padding-left: 55px;
	padding-top: 6px;
	font-size: 14px;
}

.AboutVideoPlayer p {  /* Styles for the Error message displayed if JavaScript is disabled or SWFObject Fails */
	padding-left: 20px;
	color: #870505;
}



.AboutPlayer {
	float: right;
	width: 400px;
	margin-left: 20px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
}

.AboutVideoPlayerCaption {
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.AboutVideoPlayerCaption p {
	font-family: Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 11px;
	color: #333333;
}

/* Invite Form */

.SendInviteButton {
	
}


.SendInvites { /* Container Div */
	width: 260px;
	margin-left: 20px;	
}

/* Form Field Rules */

.InviteTo { 
	width: 250px;
	margin-bottom: 5px;
	height: 20px;
	border: 1px solid #141C35;
}

.InviteMessage {
	width: 250px;
	height: 35px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	border: 1px solid #141C35;
}

.InviteSender {
	width: 175px;
	height: 20px;
	border: 1px solid #141C35;
	float: left;
	margin: 0px;
	padding: 0px;
}


.InvitePreview { /* Won't render in IE? */
	height: 17px;
	width: 72px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
}


.AthletesWeek {
	background-color: #bac4d0;
	height: 65px;
	width: 325px;
	margin-left: 20px;
	margin-top: 8px;
}

/* Athletes of the week */

.AthletesPic {
	Float:left;
	height: 63px;
	width: 105px;	
	margin: 0px;
	padding: 0px;
}

.AthletesDescrip {
	color: #000000;
	margin: 0px;
	padding: 0px;
	position: relative;
	top: 5px;
	width: 145px;
	float: left;
	left: 5px;
}

.AthletesLogo {
	Float:right;
	margin: 0px;
	padding: 0px;
	height: 65px;
	width: 65px;
}

.homeFeatureMiddle img {
	padding: 0px;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	border: 1px solid #162A49;	
}



.homeFeatureMiddle img:hover {
	border: 1px solid #2980CA;
}
/* generic button */

.genericButtonLight, .genericButtonLight:visited {
	color: #FFEF0A;
	text-align: center;
	display: block;
	width: 116px;
	padding-top: 2px;
	height: 15px;
	background-image: url("/gs/images/generic_button_light.gif");
	background-repeat: no-repeat;
	background-position: left top;
	text-decoration: none;
	font-size: 100%;
}
.genericButtonLight:active {
	background-position: right top;
}







.genericButton, .genericButton:visited {
	color: #FFEF0A;
	text-align: center;
	display: block;
	width: 116px;
	padding-top: 2px;
	height: 15px;
	background-image: url("/gs/images/generic_button.gif");
	background-repeat: no-repeat;
	background-position: left top;
	text-decoration: none;
	font-size: 100%;
}
.genericButton:active {
	background-position: right top;
}

/* friend feed parts */
.recentFriendFeed {
}

/* listing */
.leftNavCol .moreLinkArea{
	width:100px;
}
.leftNavCol .moreLink{
	width:100px;
}
.listingPage .leftNavCol{
	padding-top: 0px;
}
.listings .moreLinkArea .moreLink{
	float:left;
}
.listings .moreLinkArea .moreLink a{
	color: #666666;
}
.listings .moreLinkArea{
	width: 100%;
	padding-left: 10px;
	height:18px;
	background-color: transparent;
}
.friendSearchWidgetArea{
	margin-top:18px;
	padding-bottom: 18px;
}
.friendSearchColumn{
	width: 50px;
	height: 15px;
	float:left;
	margin-left:18px;
	font-size: 110%;
}
.friendSearchWidgetColumn{
	display: block;
	width: 300px;
	height: 25px;
}
.friendSearchWidgetColumn *{
	float:left;
}
.friendSearchWidgetColumn input {
	height: 18px;
	padding: 0;
	margin-right:5px;
	font-size: 10px;
}
#friendSearchTerms{
	width:76px;
}
.friendSearchWidgetColumn option {
	float:none;
}
.listings{
	width:801px;
	padding: 20px 0px 10px 0px;
	float:left;
	background-color: #ffffff;
	display:inline;
}
.listingItem {
	display: block;
	background-color: #E2E4A7;
	padding: 9px;
	margin-left: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid #ffffff;
}
.listingImage {
	float: left;
	margin-right: 9px;
}

.listingImage img, .listingImage a img {
  border: 2px solid #9c9c9c;
}
.listingImage a:hover img {
  border: 2px solid #0066CC;
}

.listingDescription {
	float: left;
}
.listingDescription h4 {
	font-size: 120%;
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #3A4427;
}
.listingDescription .schoolName {
	color: #000000;
	margin-bottom: 5px;
}
.listingDescription .recentFriendFeed {
	color: #666666;
}
.listingDescription .moreLink {
	float: none;
	margin-left: 10px;
}
.listingDescription .moreLink a, .listingDescription .moreLink a:visited {
	color: #666666;
	font-size: 90%;
}
.listingActions {
	float: right;
	list-style:none;
	padding-left: 10px;
	align: center;
}
.listingActions li {
	margin-bottom: 10px;
}
.listingDate {
  padding-bottom: 10px;
}
.listingBody {
  background-color: #FFFFFF;
  padding: 10px;
}
.listingBody p {
  background-color: #FFFFFF;
  display: block;
}

/* general */
 
body *{
	border: 0;
	margin: 0;
	padding: 0;
}
body{
	font-size: 10px; /*** all other font sizes should be specified as percentages of 10px ***/
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;	
	background-color: #000000;
	margin: 0;
}
.backgroundContainer{
	background-image: url("/gs/images/football_background_shadow.jpg");	
	background-repeat: no-repeat;
	background-position: center top;
	margin: auto;
	width:1098px;
}
/* Used for Home Page */
.backgroundContainerHome{
	background-image: url("/gs/images/footballplayers_background.jpg");	
	background-repeat: no-repeat;
	background-position: center top;
	margin: auto;
	width:1098px;
}
.outerContainer{
	width:956px;
	margin: auto;
}
.util, .legal{
	width:956px;
	color: #ffffff;
	height: 22px;
}
.util{
	margin-bottom: 5px;
}
.util *, .legal *{
	font-size: 100%;
}
.util span{
	display:block;
	margin-top: 10px;
	float:right;
}
.legal span{
	display:block;
	margin-top: 10px;
}
.util a, .legal a, .util a:visited, .legal a:visited{
	text-decoration: none;
	color: #FFFFFF;
}
.clearDiv{
	clear:both;
}
label.verbalSemantic { /* used for <label> tags that are needed for semantic completeness but not for the visual design */
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
}

/* more link */
.moreLink {
	float:right;
	margin-right:7px;
}
.moreLink a, .moreLink a:visited {
	font-size: 90%;
}

/* head */
.header {
	background: #000000 url("/gs/images/webLogo956x200Mid.jpg") no-repeat top left;
	font-size: 100%; /* = 10px @ 100% browser zoom */
	color: #B3B3B3;
	padding-bottom: 10px;
	width:100%;
}
/* header used for the homepage template with larger logo */
.headerHome {
	background: #000000 url("/gs/images/webLogo956x200home.jpg") no-repeat top left;
	font-size: 100%; /* = 10px @ 100% browser zoom */
	color: #B3B3B3;
	padding-bottom: 10px;
	width:100%;
	height:117px;
}
.headerBrand {
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
}
.headerAccountControl {
	float:right;
}
.headerAccountControlLinks{
	position: absolute; /* absolute positioning is not actually absolute here; is used ONLY to anchor this object to the bottom of its parent */
}
.headerAccountControl, .headerAccountControlLinks{
	height: 105px;
	width: 300px;
	font-size: 95%;
	margin-right: 68px;
}
.headerAccountControl span {
	position: absolute; /* absolute positioning is not actually absolute here; is used ONLY to anchor this object to the bottom of its parent */
	bottom: 0px;
	right: 20px;
}
.headerAccountControl .content {
}
a.logout {
	color: #FFFFFF;
	border-left: 1px solid #FFFFFF;
	padding-left: 4px;
	padding-right: 4px;
	border-right: 1px solid #FFFFFF;
}
a.logout:hover { }
/* .headerAd1 and .headerSchoolLogo deprecated in favor of .headerPosition1 and .headerPosition2 */
.headerPosition1, .headerPosition2 {
	text-align: center;
	width: 234px;
	height: 100px;
	margin-top: 10px;
	float: right;
	display: inline;
	display: table;
	position: relative;
	/* overflow: hidden; */
	padding-right: 34px;
}
.headerPosition1 .structuralContainer, .headerPosition2 .structuralContainer {
	display: block;
    /* the following out-of-spec #'s are necessary to allow the header to accept square logos as well as banner ads */
	# position: absolute;
	# top: 50%;
	display: table-cell;
	vertical-align: middle;
}
.headerPosition1 .structuralContainer div, .headerPosition2 .structuralContainer div {
    /* the following out-of-spec #'s are necessary to allow the header to accept square logos as well as banner ads */
	# position: relative;
	# top: -50%;
	# left: -50%;
	display: inline;
}

/* top nav */
.topNav{
	width: inherit;
	height: 35px;
	background-image: url("/gs/images/top_nav_background.gif");
	padding-top: 0;
	margin-top: 0;
}
.leftTopNav{
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	height: 35px;
	margin: 0;
}
.leftTopNav li {
	display: inline;
	float: left;
	padding-top: 11px;
	padding-left: 14px;
	margin-right: 14px;
	padding-bottom: 14px;
	/* height: 35px; */
}
.leftTopNav li.divider {
	background-image: url("/gs/images/top_nav_divider.gif");
	background-position-x: 0;
	background-position-y: 0;
	background-repeat: no-repeat;
}

.rightTopNav{
	margin-top: 5px;
	margin-right: 5px;
	float:right;
	color: #EEEEEE;
	font-size: 100%;
	text-align: right;
	padding-top: 4px;
}
.rightTopNav * {
	float: left;
}
.rightTopNav option {
	float: none;
}
.rightTopNav h2 {
	font-size: 100%;
	font-weight: normal;
	display: inline;
	margin-right: 5px;
	padding-top: 4px;
}
.rightTopNav input {
	margin-right: 5px;
	height: 18px;
	padding: 0;
	font-size: 10px;
}
.rightTopNav select {
	margin-right: 5px;
	height: 20px;
	padding-top: 2px;
	font-size: 110%;
	border: none;
}
.rightTopNav option {
	font-size: 110%;
}
.rightTopNav #searchTerms {
	width: 100px;
	border: 1px solid #000000;
}

/* Begin Global Navigation *********************************************************************/

#gnavMyNetwork, #gnavMyNetwork a				{ background-image: url("/gs/images/gnav_my_network.gif");		width: 70px; height: 10px; }
#gnavMyVideos, #gnavMyVideos a					{ background-image: url("/gs/images/gnav_my_videos.gif");		width: 56px; height: 10px; }
#gnavMyProfile, #gnavMyProfile a				{ background-image: url("/gs/images/gnav_my_profile.gif");		width: 59px; height: 10px; }

/* Home Page Global Navigation syles */

#gnavAboutGlobalSports, #gnavAboutGlobalSports a	{ background-image: url("/gs/images/gnav_about_globalsports.gif");		width: 121px; height: 10px; }
#gnavMembership, #gnavMembership a					{ background-image: url("/gs/images/gnav_membership.gif");		width: 70px; height: 10px; }
#gnavRegistration, #gnavRegistration a				{ background-image: url("/gs/images/gnav_registration.gif");		width: 74px; height: 10px; }

/* global navigation utility classes *********/
span.ROLLOVERIMAGE { background-position: top right; }
span.ROLLOVERIMAGE a { background-position: top left; display: block; }
span.ROLLOVERIMAGE a:hover { background-position: top right; }
span.ROLLOVERIMAGE a span { display: none; visibility: hide; }
/* End Global Navigation *********************************************************************/

/* video/chat */
.videoFindChat{
	height: 55px;
}
/* tb: .videoFind{ */
#videoFind { /* bh */
	height: 55px;
	width: 682px;
	background:#ffffff url("/gs/images/video_find_background.gif") no-repeat scroll left bottom;
	float: left;
    display: block; /* bh */
}
.videoFind select {
	margin-right: 5px;
	height: 20px;
	padding-top: 2px;
	font-size: 110%;
	border: none;
}
.videoFind option {
	font-size: 110%;
}
/* tb: .videoFind form { */
.videoFind {
	margin-top: 17px;
	margin-right: 15px;
	float:right;
}
/* tb: .videoFind form select, .videoFind form submit{ */
.videoFind select, .videoFind submit{ /* bh */
	margin-top: 3px;
	float: left;
}
.videoFind .submit {
	margin-top: 0px;
	margin-right: 10px;
	margin-left: 10px;
}

.chat{
	height: 42px;
	width: 274px;
	background:#ffffff url("/gs/images/chat_tab_background.gif") no-repeat scroll left bottom;
	padding-top: 13px;
	float: left;
}
.chatHeader{
	width: 42px;
	height: 17px;
	padding-bottom: 3px;
	margin-right: 5px;
	float: left;
	display: inline;
}
.chatHeader div{
	width: 40px;
	height: 17px;
	margin-left: 15px;
	position: absolute; /* absolute positioning is not actually absolute here; is used ONLY to anchor this object to the bottom of its parent */
}
.chatHeader span{
	color: #595959;
	font-weight: bold;
	position: absolute; /* absolute positioning is not actually absolute here; is used ONLY to anchor this object to the bottom of its parent */
	bottom: 0px;
}
.chatTools{
	float: left;
	margin-left: 10px;
}
.chatAlert{
	height: 20px;
	width: 190px;
	margin-bottom: 6px;
	background-color: #68A34E;
}
.chatAlert div{
	width: 100%;
	height: 17px;
	padding-left: 5px;
	color: #FFEF0A;
	position: absolute; /* absolute positioning is not actually absolute here; is used ONLY to anchor this object to the bottom of its parent */
}
.chatAlert span.chatNotify{
	font-size: 100%;
	position: absolute; /* absolute positioning is not actually absolute here; is used ONLY to anchor this object to the bottom of its parent */
	bottom: 0px;
}
.chatAlert span.chatInfo{
	/* will need to be clipped, serverside and ellipsis inserted */
	width:  110px;
	height: 13px;
	display: block;
	float:left;
	overflow: hidden;
	white-space: nowrap;
}
.chatAlert .popLink{
	color: #FFFFFF;
	margin-left: 5px;
	text-decoration: none;
	display: block;
	float:left;
}
.chatToolLinks {
	display: block;
	width: 254px;
	float: left;
	text-align: right;
}
.chatToolLinks a, .chatToolLinks a:visited {
	font-size: 90%;
	text-decoration: none;
	font-weight: bold;
	color: #333333;
}
/* main content */
.landingContentArea{
	background-color: #ffffff;
}
.leftNavCol h2{	
	padding-left: 10px;
	padding-top: 3px;
	height:17px;
	font-size: 120%;
	font-weight: normal;
	background: url("/gs/images/left_nav_header.gif") repeat-x scroll left top;
	width:115px;
}
.leftNavCol{
	width:125px; /*new jjs*/
	margin-bottom: 10px;
}
.leftNav{
	background: #999999;
	width:125px;
	padding-top: 10px;
	padding-bottom: 20px;
}
.leftNav ul{
	display: block;
	list-style: inside;
	margin-left: 20px;
}
.leftNav li{
	font-weight: bold;
	font-size: 110%;
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;	
	margin-bottom:5px;
}
.leftNav li.hilighted{
	color: #ffffff;
}
.leftNav li.hilighted a, .leftNav li.hilighted a:visited{
	color: #ffffff;
}
.leftNav a, .leftNav a:visited{
	text-decoration: none;
	color: #000000;
}
.leftNavCol .moreLinkArea .moreLink{
	float:left;
}
.leftNavCol .moreLinkArea .moreLink a{
	color: #666666;
}
.leftNavCol .moreLinkArea{
	padding-left: 10px;
	height:20px;
	background-color: transparent;
}
.mainCol1,.mainCol2,.mainCol3, .leftNavCol{
	padding-top: 20px;
	float:left;
}
.contentBox{
	margin-left: 20px;
	margin-bottom:20px;
	background-color: #E2E4A7;
}
.contentBoxHeader {
	background: url("/gs/images/content_box_header.png") repeat-x scroll left top;
	background-color: #68A34E;
	border-bottom: 2px solid #b7baa3;
	height: 18px;
	padding-top: 2px;
	font-size: 110%;
}
td.contentBoxHeader {
  font-weight: bold;
}
/* used in weekly features as well */
.yellowHeader {
	color: #FFEF0A;
}
.yellowHeader h3 {
	font-size: 110%;
}
h2.yellowHeader, .contentBoxHeader yellowwHeader {
  font-size: 110%;
  font-weight: bold;
}
.contentBoxHeader a, .contentBoxHeader a:visited {
	color: #ffffff;
}
.boxDescription{
	margin-left:10px;
	font-weight: normal;
	font-size: 100%;
}
.contentBoxContent{
	overflow:auto;
	color: #444444;
}
.featureSummary{
	padding-bottom: 3px;
	margin: 5px 10px 10px 10px;
	border-bottom: 1px solid #b7baa3;
}
.featureSummary h3{
	margin-bottom: 3px;
	color: #536338;
}
.featureSummary .sportName{
	color: #000000;
	font-size: 90%;
}
.featureSummary .date{
	font-size: 90%;
}
/* used in weekly summaries as well */
.featureSummaryThumb{
	line-height: normal;
	float:left;
	margin-top:3px;
	padding:0px;
}
/* used in weekly summaries as well */
.featureText{
	margin-left: 10px;
	margin-right: 10px;
	float:left;
	display:inline;
}

/* right content */
.rightContentItem {
	width: 270px;
	margin: 10px 0px 0px 20px;
}
.rightContentItem .moreLink a, .rightContentItem .moreLink a:visited {
	color: #676767;
	margin-right: 110px;
}
.rightContentItem h2, .profileHeading{
	font-size: 120%;
	color: #0081C0;
	margin-bottom: 5px;
}
.rightContentItem a.articleLink{
	font-size: 120%;
	color: #989898;
}
/* weekly feature */
.weeklyFeature{
	height: 128px;
	background:transparent url("/gs/images/weekly_background.gif") repeat-x scroll left bottom;
	color: #ffffff;
}
.weeklyFeature .yellowHeader{
	display: block;
	margin-bottom: 10px;
}
.weeklyFeature .featureText{
	width: 100px;
}
.weeklyFeature .featureText h3{
	margin-bottom: 0px;
	font-size: 110%;
	font-weight: normal;
	color: #ffffff;
}
.weeklyFeature .sportName{
	color: #ffffff;
}
.weeklyFeature .date{
	color: #ffffff;
}
.weeklyCol1{
	width: 229px;
}
.weeklyCol2{
	width: 499px;
}
.weeklyCol3{
	width: 155px;
}
.arrowButton{
	float:right;
	margin-right:10px;
}
.featureCol{
	margin: 20px 0px 20px 20px;
	padding: 0px 0px 0px 0px;
	height: 85px;
}
.featureFloat{
	display:inline;
	float: left;
}
.featureVertRule{
	border-right: 1px dashed #E6E6E6;
}
/* footerAds */
.footer{
	background:transparent url("/gs/images/footer_advert_background.png") no-repeat scroll left bottom;
	margin-top: 20px;
	height: 110px;
	padding-top: 10px;
	width: inherit;
}
.footerAds{
	margin-left: 20px;
}
.footerAd{
	margin-left: 10px;
}

/* landing page */
.landingContentArea{
	background-color: #ffffff;
}
.landingContentArea .contentBox{
	width: 312px;
	height: 140px;
}
.landingContentArea .contentBoxContent{
	height: 118px;
}
/*profile page */
.profilePageHeader{
	margin-left:135px;
	padding-top:20px;
}
.profilePageHeader h2.columnDescriptor{
	font-size:140%;
	color: #333333;
}
.profilePageHeader span{
	color: #0081C0;	
}
.profileContentArea{
	background-color: #ffffff;
}
.profileContentArea .mainCol1 .contentBox, .profileContentArea .mainCol2 .contentBox{
	width: 215px;
	height: auto;
}
.profileContentArea .mainCol3 .contentBox{
	width: 345px;
	height: auto;
}
.profileContentArea .contentBox{
	margin-left: 10px;	
}
.profileContentArea .contentBoxContent{
	height: auto;
}
.profileFeature{
	line-height: 180%;
	margin: 5px 10px 0px 10px;
}
.profileFeature .featureText{
	margin-top: 10px;
}
.profileFeature  a, .profileFeature a:visited {
	color: #676767;
	font-size: 100%;
}
.profileContentArea .topRowFixHeight{
	height:175px;
	width:215px;
	overflow:hidden;
}
.fileThumb{
	line-height: normal;
	float: left;
	margin-right:7px;
	margin-left:0px;
	margin-bottom:7px;
	width: 60px;
	height: 40px;
	display:inline;
}
.fileName{
	display:block;
	background-image: url("/gs/placeholders/file.gif");	
	padding: 0;
	width:60px;
	height:40px;
	text-decoration: none;
	position: absolute;
}
.fileName span{
	color: #ffffff;
	position: absolute;
	bottom: 3px;
	left: 5px;
}
.fileFeatures{
	line-height: normal;
	margin-right:0px;
	margin-bottom:0px;
	margin-top:7px;
}
.fileFeatures .moreLinkArea{
	margin-right: 3px;
	height: 20px;
}
.moreLinkArea{
	height: 23px;
}
.profileSubHeading{
	font-weight: bold;
	color: #000000;
}
.profileInfo{
	margin: 0px 0px 5px 0px;
}
.myClips{
	color: #000000;
	margin-left: 0px;
	margin-top: 10px;
}
.myClips .featureSummaryThumb a{
	text-decoration: none;
}
.myClips h3{
	font-size:120%;
	color: #536338;
	font-weight: normal;
}
.myClips .featureSummaryThumb{
	margin: 0px 0px 0px 15px;
	line-height: 180%;
	display: inline;
}
.testimonial{
	display: block;
	padding: 5px;
	background-color: #ffffff;
	margin-top: 2px;
	margin-bottom: 2px;
}

/*search results*/
.searchResultsContent{
	width:805px;
	padding: 20px 0px 10px 0px;
	float:left;
	background-color: #ffffff;
	display:inline;
}
.searchResultsContent .mainCol1 .contentBox, .searchResultsContent .mainCol2 .contentBox, .searchResultsContent .mainCol3 .contentBox{
	height: 100px;
	width: 258px;
	padding-bottom: 8px;
	margin-bottom:10px;
}
.searchResultsContent .mainCol1 .contentBox .featureSummaryText, .searchResultsContent .mainCol2 .contentBox .featureSummaryText, .searchResultsContent .mainCol3 .contentBox .featureSummaryText{
	font-size: 90%;
}
.searchResultsContent .mainCol1 .contentBox .profileSubHeading, .searchResultsContent .mainCol2 .contentBox .profileSubHeading, .searchResultsContent .mainCol3 .contentBox .profileSubHeading{
	color: #536338;
	font-size:110%;
}
.profileContentArea .searchResultsContent .mainCol1 .contentBox{
	color: #ffffff;
	background-color: #111528;
}
.profileContentArea .searchResultsContent .mainCol1 .contentBox .featureText{
	color: #999999;
}
.profileContentArea .searchResultsContent .mainCol1 .contentBox .profileSubHeading{
	color: #ffffff;
	font-weight: normal;
}
.profileContentArea .searchResultsContent .mainCol3 .contentBox .fileThumb{
	margin-top:25px;
}
.profileContentArea .searchResultsContent h2.columnDescriptor{
	font-size:140%;
	color: #333333;
	margin-left: 10px;
	margin-bottom: 5px;
}
.searchResultsContent .friendSearchWidgetArea{
	margin-top:18px;
	padding-bottom: 18px;
	margin-bottom: 0px;
	float:left;
}
.searchResultsContent .mainCol1, .searchResultsContent .mainCol2, .searchResultsContent .mainCol3{
	padding-top: 0px;
}
.advancedSearchTools{
	float: right;
	text-align:right;
	font-size: 120%;
	line-height: 230%;
	margin-right: 15px;
	margin-top: 12px;
	color: #333333;
	width:280px;
}
.advancedSearchTools img{
	margin-left: 5px;
	margin-top: 5px;
	display:inline;
	float:right;
}
.advancedSearchTools span{
	/*display:block;*/
	width: 225px;
	margin-bottom:4px;
	padding-left: 5px;
	float:right;
}
.hdSearchPreview{
	margin-top:16px;
}
.fileSearchPreview{
	padding-left: 10px;
	padding-right: 6px;
	display:inline;
}
/*
.advancedSearchTools div{
	width: 250px;
	position:absolute;
	border: solid 1px purple;
}
.advancedSearchTools span{
	position:absolute;
	display:block;
	width: 260px;
	bottom: 4px;
	left:0px;
	border: solid 1px blue;
}
.advancedSearchTools div.absoluteTextCont{
	width: 240px;
	height: 30px;
	position:static;
	border: solid 1px green;
}
*/


/* comments */
.commentPost {
  background-color: #E2E4A7;
  width: auto;
  display: block;
  height: auto;
  margin-bottom: 10px;
  border-top: 1px solid #ffffff;
}
.commentPoster {
  float: left;
  width: 150px;
  margin-bottom: 10px;
}
/* Override for profile info display */
.profileInfo .commentPoster {
	width: 90px;
}
.profileInfo .commentPoster a img {
  width: 80px;  
}
.commentPoster a img {
  border: 2px solid #333333;
}
.commentPoster a:hover img {
  border: 2px solid #0066CC;
}
.commentSummaryBox {
	float: left;
	width: 535px;
  padding-top: 15px;	
  margin-bottom: 10px;
  margin-left: 20px;
}
.profileInfo .commentSummaryBox {
  float: left;
  width: 215px;
  margin-left: 0px;
}
.commentHeading {
  margin-bottom: 10px;
}
.commentSummaryBody {
  background-color: #FFFFFF;
  padding: 10px;
}
.commentSummaryBody p {
  background-color: #FFFF;
  margin-bottom: 10px;
  display: block;
}
.commentActions {
	float: right;
}
.profileInfo .commentActions {
  float: clear;	
}
.commentActions li {
  margin-bottom: 10px;
}

tr.blogList, tr.leagueList {
  background-color: #E2E4A7;
  border-bottom: 2px solid #ffffff; 
}
td.blogList, th.blogList, td.leagueList, th.leagueList { 
  padding: 10px 5px 10px 5px; 
  border-bottom: 2px solid #ffffff; 
}
td.numeric {
  text-align: right;
}

