
/* generic button */
.genericButton, .genericButton:visited {
	color: #FFEF0A;
	text-align: center;
	display: block;
	width: 116px;
	padding-top: 2px;
	height: 15px;
	background-image: url("/gs/images/generic_button.gif");
	background-repeat: no-repeat;
	background-position: left top;
	text-decoration: none;
	font-size: 100%;
}
.genericButton:active {
	background-position: right top;
}

/* friend feed parts */
.recentFriendFeed {
}

/* listing */
.leftNavCol .moreLinkArea{
	width:100px;
}
.leftNavCol .moreLink{
	width:100px;
}
.listingPage .leftNavCol{
	padding-top: 0px;
}
.listings .moreLinkArea .moreLink{
	float:left;
}
.listings .moreLinkArea .moreLink a{
	color: #666666;
}
.listings .moreLinkArea{
	width: 100%;
	padding-left: 10px;
	height:18px;
	background-color: transparent;
}
.friendSearchWidgetArea{
	margin-top:18px;
	padding-bottom: 18px;
}
.friendSearchColumn{
	width: 50px;
	height: 15px;
	float:left;
	margin-left:18px;
	font-size: 110%;
}
.friendSearchWidgetColumn{
	display: block;
	width: 300px;
	height: 25px;
}
.friendSearchWidgetColumn *{
	float:left;
}
.friendSearchWidgetColumn input {
	height: 18px;
	padding: 0;
	margin-right:5px;
	font-size: 10px;
}
#friendSearchTerms{
	width:76px;
}
.friendSearchWidgetColumn option {
	float:none;
}
.listings{
	width:801px;
	padding: 20px 0px 10px 0px;
	float:left;
	background-color: #ffffff;
	display:inline;
}
.listingItem {
	display: block;
	background-color: #E2E4A7;
	padding: 9px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.listingImage {
	float: left;
	margin-right: 9px;
}
.listingImage img {
	border: 1px solid #9c9c9c;
}
.listingDescription {
	float: left;
}
.listingDescription h4 {
	font-size: 120%;
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #3A4427;
}
.listingDescription .schoolName {
	color: #000000;
	margin-bottom: 5px;
}
.listingDescription .recentFriendFeed {
	color: #666666;
}
.listingDescription .moreLink {
	float: none;
	margin-left: 10px;
}
.listingDescription .moreLink a, .listingDescription .moreLink a:visited {
	color: #666666;
	font-size: 90%;
}
.listingActions {
	float: right;
	list-style:none;
}
.listingActions li {
	margin-bottom: 10px;
}

/* general */
 
body *{
	border: 0;
	margin: 0;
	padding: 0;
}
body{
	font-size: 10px; /*** all other font sizes should be specified as percentages of 10px ***/
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;	
	background-color: #000000;
	margin: 0;
}
.backgroundContainer{
	background-image: url("/gs/images/football_background_shadow.jpg");	
	background-repeat: no-repeat;
	background-position: center top;
	margin: auto;
	width:1098px;
}
.outerContainer{
	width:956px;
	margin: auto;
}
.util, .legal{
	width:956px;
	color: #ffffff;
	height: 22px;
}
.util{
	margin-bottom: 5px;
}
.util *, .legal *{
	font-size: 100%;
}
.util span{
	display:block;
	margin-top: 10px;
	float:right;
}
.legal span{
	display:block;
	margin-top: 10px;
}
.util a, .legal a, .util a:visited, .legal a:visited{
	text-decoration: none;
	color: #FFFFFF;
}
.clearDiv{
	clear:both;
}
label.verbalSemantic { /* used for <label> tags that are needed for semantic completeness but not for the visual design */
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
}

/* more link */
.moreLink {
	float:right;
	margin-right:7px;
}
.moreLink a, .moreLink a:visited {
	font-size: 90%;
}

/* head */
.header {
	background: #000000 url("/gs/images/header_brand.jpg") no-repeat top left;
	font-size: 100%; /* = 10px @ 100% browser zoom */
	color: #B3B3B3;
	padding-bottom: 10px;
	width:100%;
}
.headerBrand {
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
}
.headerAccountControl {
	float:right;
}
.headerAccountControlLinks{
	position: absolute; /* absolute positioning is not actually absolute here; is used ONLY to anchor this object to the bottom of its parent */
}
.headerAccountControl, .headerAccountControlLinks{
	height: 105px;
	width: 300px;
	font-size: 95%;
	margin-right: 68px;
}
.headerAccountControl span {
	position: absolute; /* absolute positioning is not actually absolute here; is used ONLY to anchor this object to the bottom of its parent */
	bottom: 0px;
	right: 20px;
}
.headerAccountControl .content {
}
a.logout {
	color: #FFFFFF;
	border-left: 1px solid #FFFFFF;
	padding-left: 4px;
	padding-right: 4px;
	border-right: 1px solid #FFFFFF;
}
a.logout:hover { }
/* .headerAd1 and .headerSchoolLogo deprecated in favor of .headerPosition1 and .headerPosition2 */
.headerPosition1, .headerPosition2 {
	text-align: center;
	width: 234px;
	height: 100px;
	margin-top: 10px;
	float: right;
	display: inline;
	display: table;
	position: relative;
	/* overflow: hidden; */
	padding-right: 34px;
}
.headerPosition1 .structuralContainer, .headerPosition2 .structuralContainer {
	display: block;
    /* the following out-of-spec #'s are necessary to allow the header to accept square logos as well as banner ads */
	# position: absolute;
	# top: 50%;
	display: table-cell;
	vertical-align: middle;
}
.headerPosition1 .structuralContainer div, .headerPosition2 .structuralContainer div {
    /* the following out-of-spec #'s are necessary to allow the header to accept square logos as well as banner ads */
	# position: relative;
	# top: -50%;
	# left: -50%;
	display: inline;
}

/* top nav */
.topNav{
	width: inherit;
	height: 35px;
	background-image: url("/gs/images/top_nav_background.gif");
	padding-top: 0;
	margin-top: 0;
}
.leftTopNav{
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	height: 35px;
	margin: 0;
}
.leftTopNav li {
	display: inline;
	float: left;
	padding-top: 11px;
	padding-left: 14px;
	margin-right: 14px;
	padding-bottom: 14px;
	/* height: 35px; */
}
.leftTopNav li.divider {
	background-image: url("/gs/images/top_nav_divider.gif");
	background-position-x: 0;
	background-position-y: 0;
	background-repeat: no-repeat;
}

.rightTopNav{
	margin-top: 5px;
	margin-right: 5px;
	float:right;
	color: #EEEEEE;
	font-size: 100%;
	text-align: right;
	padding-top: 4px;
}
.rightTopNav * {
	float: left;
}
.rightTopNav option {
	float: none;
}
.rightTopNav h2 {
	font-size: 100%;
	font-weight: normal;
	display: inline;
	margin-right: 5px;
	padding-top: 4px;
}
.rightTopNav input {
	margin-right: 5px;
	height: 18px;
	padding: 0;
	font-size: 10px;
}
.rightTopNav select {
	margin-right: 5px;
	height: 20px;
	padding-top: 2px;
	font-size: 110%;
	border: none;
}
.rightTopNav option {
	font-size: 110%;
}
.rightTopNav #searchTerms {
	width: 100px;
	border: 1px solid #000000;
}

/* Begin Global Navigation *********************************************************************/

#gnavMyNetwork, #gnavMyNetwork a				{ background-image: url("/gs/images/gnav_my_network.gif");		width: 70px; height: 10px; }
#gnavMyVideos, #gnavMyVideos a					{ background-image: url("/gs/images/gnav_my_videos.gif");		width: 56px; height: 10px; }
#gnavMyProfile, #gnavMyProfile a				{ background-image: url("/gs/images/gnav_my_profile.gif");		width: 59px; height: 10px; }

/* global navigation utility classes *********/
span.ROLLOVERIMAGE { background-position: top right; }
span.ROLLOVERIMAGE a { background-position: top left; display: block; }
span.ROLLOVERIMAGE a:hover { background-position: top right; }
span.ROLLOVERIMAGE a span { display: none; visibility: hide; }
/* End Global Navigation *********************************************************************/

/* video/chat */
.videoFindChat{
	height: 55px;
}
#videoFind{
	height: 55px;
	width: 682px;
	background:#ffffff url("/gs/images/video_find_background.gif") no-repeat scroll left bottom;
	float: left;
	display:block;
}
.videoFind select {
	margin-right: 5px;
	height: 20px;
	padding-top: 2px;
	font-size: 110%;
	border: none;
}
.videoFind option {
	font-size: 110%;
}
.videoFind {
	margin-top: 17px;
	margin-right: 15px;
	float:right;
}
.videoFind select, .videoFind submit{
	margin-top: 3px;
	float: left;
}
.videoFind .submit {
	margin-top: 0px;
	margin-right: 10px;
	margin-left: 10px;
}

.chat{
	height: 42px;
	width: 274px;
	background:#ffffff url("/gs/images/chat_tab_background.gif") no-repeat scroll left bottom;
	padding-top: 13px;
	float: left;
}
.chatHeader{
	width: 42px;
	height: 17px;
	padding-bottom: 3px;
	margin-right: 5px;
	float: left;
	display: inline;
}
.chatHeader div{
	width: 40px;
	height: 17px;
	margin-left: 15px;
	position: absolute; /* absolute positioning is not actually absolute here; is used ONLY to anchor this object to the bottom of its parent */
}
.chatHeader span{
	color: #595959;
	font-weight: bold;
	position: absolute; /* absolute positioning is not actually absolute here; is used ONLY to anchor this object to the bottom of its parent */
	bottom: 0px;
}
.chatTools{
	float: left;
	margin-left: 10px;
}
.chatAlert{
	height: 20px;
	width: 190px;
	margin-bottom: 6px;
	background-color: #68A34E;
}
.chatAlert div{
	width: 100%;
	height: 17px;
	padding-left: 5px;
	color: #FFEF0A;
	position: absolute; /* absolute positioning is not actually absolute here; is used ONLY to anchor this object to the bottom of its parent */
}
.chatAlert span.chatNotify{
	font-size: 100%;
	position: absolute; /* absolute positioning is not actually absolute here; is used ONLY to anchor this object to the bottom of its parent */
	bottom: 0px;
}
.chatAlert span.chatInfo{
	/* will need to be clipped, serverside and ellipsis inserted */
	width:  110px;
	height: 13px;
	display: block;
	float:left;
	overflow: hidden;
	white-space: nowrap;
}
.chatAlert .popLink{
	color: #FFFFFF;
	margin-left: 5px;
	text-decoration: none;
	display: block;
	float:left;
}
.chatToolLinks {
	display: block;
	width: 254px;
	float: left;
	text-align: right;
}
.chatToolLinks a, .chatToolLinks a:visited {
	font-size: 90%;
	text-decoration: none;
	font-weight: bold;
	color: #333333;
}
/* main content */
.landingContentArea{
	background-color: #ffffff;
}
.leftNavCol h2{	
	padding-left: 10px;
	padding-top: 3px;
	height:17px;
	font-size: 120%;
	font-weight: normal;
	background: url("/gs/images/left_nav_header.gif") repeat-x scroll left top;
	width:115px;
}
.leftNavCol{
	width:125px; /*new jjs*/
}
.leftNav{
	background: #999999;
	width:125px;
	padding-top: 10px;
	padding-bottom: 20px;
}
.leftNav ul{
	display: block;
	list-style: inside;
	margin-left: 20px;
}
.leftNav li{
	font-weight: bold;
	font-size: 110%;
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;	
	margin-bottom:5px;
}
.leftNav li.hilighted{
	color: #ffffff;
}
.leftNav li.hilighted a, .leftNav li.hilighted a:visited{
	color: #ffffff;
}
.leftNav a, .leftNav a:visited{
	text-decoration: none;
	color: #000000;
}
.leftNavCol .moreLinkArea .moreLink{
	float:left;
}
.leftNavCol .moreLinkArea .moreLink a{
	color: #666666;
}
.leftNavCol .moreLinkArea{
	padding-left: 10px;
	height:20px;
	background-color: transparent;
}
.mainCol1,.mainCol2,.mainCol3, .leftNavCol{
	padding-top: 20px;
	float:left;
}
.contentBox{
	margin-left: 20px;
	margin-bottom:20px;
	background-color: #E2E4A7;
}
.contentBoxHeader{
	background: url("/gs/images/content_box_header.png") repeat-x scroll left bottom;
	background-color: #68A34E;
	border-bottom: 2px solid #b7baa3;
	height: 18px;
	padding-top: 2px;
	font-size: 110%;
}
/* used in weekly features as well */
.yellowHeader{
	color: #FFEF0A;
}
h3.yellowHeader{
	font-size: 110%;
}
.contentBoxHeader a, .contentBoxHeader a:visited {
	color: #ffffff;
}
.boxDescription{
	margin-left:10px;
	font-weight: normal;
	font-size: 100%;
}
.contentBoxContent{
	overflow:auto;
	color: #444444;
}
.featureSummary{
	padding-bottom: 3px;
	margin: 5px 10px 10px 10px;
	border-bottom: 1px solid #b7baa3;
}
.featureSummary h3{
	margin-bottom: 3px;
	color: #536338;
	font-size:110%;
}
.featureSummary .sportName{
	color: #000000;
	font-size: 90%;
}
.featureSummary .date{
	font-size: 90%;
}
/* used in weekly summaries as well */
.featureSummaryThumb{
	line-height: normal;
	float:left;
	margin-top:3px;
	padding:0px;
}
/* used in weekly summaries as well */
.featureText{
	margin-left: 10px;
	margin-right: 10px;
	float:left;
	display:inline;
}

/* right content */
.rightContentItem {
	width: 260px;
	margin: 10px 0px 0px 20px;
}
.rightContentItem .moreLink a, .rightContentItem .moreLink a:visited {
	color: #676767;
	margin-right: 110px;
}
.rightContentItem h2, .profileHeading{
	font-size: 120%;
	color: #0081C0;
	margin-bottom: 5px;
}
.rightContentItem a.articleLink{
	font-size: 120%;
	color: #989898;
}
/* weekly feature */
.weeklyFeature{
	height: 128px;
	background:transparent url("/gs/images/weekly_background.gif") repeat-x scroll left bottom;
	color: #ffffff;
}
.weeklyFeature .yellowHeader{
	display: block;
	margin-bottom: 10px;
}
.weeklyFeature .featureText{
	width: 100px;
}
.weeklyFeature .featureText h3{
	margin-bottom: 0px;
	font-size: 110%;
	font-weight: normal;
	color: #ffffff;
}
.weeklyFeature .sportName{
	color: #ffffff;
}
.weeklyFeature .date{
	color: #ffffff;
}
.weeklyCol1{
	width: 229px;
}
.weeklyCol2{
	width: 499px;
}
.weeklyCol3{
	width: 155px;
}
.arrowButton{
	float:right;
	margin-right:10px;
}
.featureCol{
	margin: 20px 0px 20px 20px;
	padding: 0px 0px 0px 0px;
	height: 85px;
}
.featureFloat{
	display:inline;
	float: left;
}
.featureVertRule{
	border-right: 1px dashed #E6E6E6;
}
/* footerAds */
.footer{
	background:transparent url("/gs/images/footer_advert_background.png") no-repeat scroll left bottom;
	margin-top: 20px;
	height: 110px;
	padding-top: 10px;
	width: inherit;
}
.footerAds{
	margin-left: 20px;
}
.footerAd{
	margin-left: 10px;
}

/* landing page */
.landingContentArea{
	background-color: #ffffff;
}
.landingContentArea .contentBox{
	width: 312px;
	height: 140px;
}
.landingContentArea .contentBoxContent{
	height: 118px;
}
/*profile page */
.profilePageHeader{
	margin-left:135px;
	padding-top:20px;
}
.profilePageHeader h2.columnDescriptor{
	font-size:140%;
	color: #333333;
}
.profilePageHeader span{
	color: #0081C0;	
}
.profileContentArea{
	background-color: #ffffff;
}
.profileContentArea .mainCol1 .contentBox, .profileContentArea .mainCol2 .contentBox{
	width: 215px;
	height: auto;
}
.profileContentArea .mainCol3 .contentBox{
	width: 345px;
	height: auto;
}
.profileContentArea .contentBox{
	margin-left: 10px;	
}
.profileContentArea .contentBoxContent{
	height: auto;
}
.profileFeature{
	line-height: 180%;
	margin: 5px 10px 0px 10px;
}
.profileFeature .featureText{
	margin-top: 10px;
}
.profileFeature  a, .profileFeature a:visited {
	color: #676767;
	font-size: 100%;
}
.profileContentArea .topRowFixHeight{
	height:175px;
	width:215px;
	overflow:hidden;
}
.fileThumb{
	line-height: normal;
	float: left;
	margin-right:7px;
	margin-left:0px;
	margin-bottom:7px;
	width: 60px;
	height: 40px;
	display:inline;
}
.fileName{
	display:block;
	background-image: url("/gs/placeholders/file.gif");	
	padding: 0;
	width:60px;
	height:40px;
	text-decoration: none;
	position: absolute;
}
.fileName span{
	color: #ffffff;
	position: absolute;
	bottom: 3px;
	left: 5px;
}
.fileFeatures{
	line-height: normal;
	margin-right:0px;
	margin-bottom:0px;
	margin-top:7px;
}
.fileFeatures .moreLinkArea{
	margin-right: 3px;
	height: 20px;
}
.moreLinkArea{
	height: 23px;
}
.profileSubHeading{
	font-weight: bold;
	color: #000000;
}
.profileInfo{
	margin: 0px 0px 5px 0px;
}
.myClips{
	color: #000000;
	margin-left: 0px;
	margin-top: 10px;
}
.myClips .featureSummaryThumb a{
	text-decoration: none;
}
.myClips h3{
	font-size:120%;
	color: #536338;
	font-weight: normal;
}
.myClips .featureSummaryThumb{
	margin: 0px 0px 0px 15px;
	line-height: 180%;
	display: inline;
}
.testimonial{
	display: block;
	padding: 5px;
	background-color: #ffffff;
	margin-top: 2px;
	margin-bottom: 2px;
}

/*search results*/
.searchResultsContent{
	width:805px;
	padding: 20px 0px 10px 0px;
	float:left;
	background-color: #ffffff;
	display:inline;
}
.searchResultsContent .mainCol1 .contentBox, .searchResultsContent .mainCol2 .contentBox, .searchResultsContent .mainCol3 .contentBox{
	height: 100px;
	width: 258px;
	padding-bottom: 8px;
	margin-bottom:10px;
}
.searchResultsContent .mainCol1 .contentBox .featureSummaryText, .searchResultsContent .mainCol2 .contentBox .featureSummaryText, .searchResultsContent .mainCol3 .contentBox .featureSummaryText{
	font-size: 90%;
}
.searchResultsContent .mainCol1 .contentBox .profileSubHeading, .searchResultsContent .mainCol2 .contentBox .profileSubHeading, .searchResultsContent .mainCol3 .contentBox .profileSubHeading{
	color: #536338;
	font-size:110%;
}
.profileContentArea .searchResultsContent .mainCol1 .contentBox{
	color: #ffffff;
	background-color: #111528;
}
.profileContentArea .searchResultsContent .mainCol1 .contentBox .featureText{
	color: #999999;
	width:110px;
}
.profileContentArea .searchResultsContent .mainCol1 .contentBox .profileSubHeading{
	color: #ffffff;
	font-weight: normal;
}
.profileContentArea .searchResultsContent .mainCol3 .contentBox .fileThumb{
	margin-top:25px;
}
.profileContentArea .searchResultsContent h2.columnDescriptor{
	font-size:140%;
	color: #333333;
	margin-left: 10px;
	margin-bottom: 5px;
}
.searchResultsContent .friendSearchWidgetArea{
	margin-top:18px;
	padding-bottom: 18px;
	margin-bottom: 0px;
	float:left;
}
.searchResultsContent .mainCol1, .searchResultsContent .mainCol2, .searchResultsContent .mainCol3{
	padding-top: 0px;
}
.advancedSearchTools{
	float: right;
	text-align:right;
	font-size: 120%;
	line-height: 230%;
	margin-right: 15px;
	margin-top: 12px;
	color: #333333;
	width:280px;
}
.advancedSearchTools img{
	margin-left: 5px;
	margin-top: 5px;
	display:inline;
	float:right;
}
.advancedSearchTools span{
	/*display:block;*/
	width: 225px;
	margin-bottom:4px;
	padding-left: 5px;
	float:right;
}
.hdSearchPreview{
	margin-top:16px;
}
.fileSearchPreview{
	padding-left: 10px;
	padding-right: 6px;
	display:inline;
}
/*
.advancedSearchTools div{
	width: 250px;
	position:absolute;
	border: solid 1px purple;
}
.advancedSearchTools span{
	position:absolute;
	display:block;
	width: 260px;
	bottom: 4px;
	left:0px;
	border: solid 1px blue;
}
.advancedSearchTools div.absoluteTextCont{
	width: 240px;
	height: 30px;
	position:static;
	border: solid 1px green;
}
*/
