<h1>Video of the Week</h1>
<%= @vidavee.asset_embed_code(session[:vidavee], @dockey) -%>
<form action="/vidapi/login" method="GET">
  See another dockey: <input name="dockey" id="dockey" type="text" length="25"/>
  <input type="submit" name="See it"/>
</form>

<pre>
<%=h @vidavee.gallery_assets(session[:vidavee]) -%>
</pre>