.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        Edit Page
      @page.title
  .leftNavCol
    %h2.yellowHeader
      My Profile
    .leftNav
      =render :partial => "users/profile_nav"
  .listings
    .listingItem

      = render :partial => 'form'

      %p
        = link_to "Show", @page
        = " | "
        = link_to "View All", pages_path
