.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        New Page
        
  =render :partial => "users/profile_nav"
  .listings
    .listingItem

      = render :partial => 'form'

      %p= link_to "Back to List", pages_path
