- if(current_user.league_admin? || current_user.team_admin? || current_user.admin?)
  %p= link_to('Upload a new video', new_video_asset_path)
  
- for video_asset in @video_assets
  = render :partial => 'video_block', :locals => { :video_asset => video_asset }
  
%p= pagination_links_for @pages, { :link_to_current_page => true } if @pages.length > 1
%br/

