.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        My Videos
      = current_user.full_name
  .leftNavCol
    %h2.yellowHeader
      My Profile
    .leftNav
      =render :partial => "users/profile_nav"
  .listings
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %h2.boxDescription
          = "Details for \"#{@video_asset.title}\""
      .contentBoxContent
        .featureSummary
          = render :partial => 'video_listing', :collection => [ @video_asset ]
