.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        MY VIDEOS
      Upload SUCCESS!
      -#
        = current_user.full_name
  .listings
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        %h2.boxDescription
          Video uploaded!

      %p
        = "Your video '#{@video_asset.title}' has been uploaded. It may take from a minute to a few minutes for it to appear in your gallery and be viewable. The time depends on the size and type of the video and the load on the servers."

      %p
        = link_to "Upload another", new_video_asset_path
