.flashArea#flashArea
= render(:partial => 'shared/video_player', :locals => { :fvars => { :dockeys => "#{@user_clip_dockeys}"}, :target => 'flashArea', :player_name => '/players/reelmaker.swf', :height => 550, :width => 945})

= link_to 'Back', video_reels_path
