!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      \###PAGE TITLE HERE###
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }/
    %link{ :href => "styles/main.css", :rel => "stylesheet" }/
    /
      [if IE 6]>
      <style type="text/css">
      \.contentBoxHeader { background-image: none; }
      </style>
      <![endif]
  %body
    .backgroundContainer
      .outerContainer
        .util
          %span
            %a{ :href => "#" }
              about
            |
            %a{ :href => "#" }
              contact
            |
            %a{ :href => "#" }
              help
            |
            %a{ :href => "#" }
              logout
            %img{ :src => "images/lock.gif", :alt => "alt" }/
        /
          header/ads
        .header
          %h1.headerBrand
            Global Sports
          .headerPosition2
            .structuralContainer
              %div
                %a{ :href => "#" }
                  %img{ :src => "placeholders/header_school_logo.jpg", :alt => "##TEXT EQUIVALENT##" }/
          .headerPosition1
            .structuralContainer
              %div
                %a{ :href => "#" }
                  %img{ :src => "placeholders/header_ad_1.jpg", :alt => "##TEXT EQUIVALENT##" }/
          .headerAccountControl
            .headerAccountControlLinks
              %span
                Logged in as Norman Gale
                %a.logout{ :href => "#" }
                  logout
          .clearDiv/
        /
          end header/ads
        /
          top-nav
        %form{ :action => "#", :method => "get" }
          .topNav
            %ul.leftTopNav
              %li
                %span#gnavMyNetwork.ROLLOVERIMAGE
                  %a{ :href => "#" }
                    %span
                      My Network
              %li.divider
                %span#gnavMyVideos.ROLLOVERIMAGE
                  %a{ :href => "#" }
                    %span
                      My Videos
              %li.divider
                %span#gnavMyProfile.ROLLOVERIMAGE
                  %a{ :href => "#" }
                    %span
                      My Profile
            .rightTopNav
              %h2
                Search Site
              %label.verbalSemantic{ :for => "searchCategory" }
                Category
              %select#searchCategory{ :name => "category" }
                %option{ :value => "" }
                  All Categories
                %option{ :value => "" }
                  Category
                %option{ :value => "" }
                  Category
                %option{ :value => "" }
                  Category
              %label.verbalSemantic{ :for => "searchTerms" }
                Search Terms
              %input#searchTerms{ :name => "terms", :type => "text" }/
              %input.submit{ :name => "submit", :src => "images/top_nav_search.gif", :type => "image", :value => "search", :alt => "Search" }/
        /
          end top-nav
        /
          find/chat
        .videoFindChat
          %form#videoFind{ :action => "#", :method => "get" }
            .videoFind
              %select#videoFindSeason{ :name => "season" }
                %option{ :value => "" }
                  \-Season-
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
              %label.verbalSemantic{ :for => "videoFindSeason" }
                Season
              %select#videoFindState{ :name => "state" }
                %option{ :value => "" }
                  \-State-
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
              %label.verbalSemantic{ :for => "videoFindState" }
                State
              %select#videoFindCounty{ :name => "county" }
                %option{ :value => "" }
                  \-County-
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
              %label.verbalSemantic{ :for => "videoFindCounty" }
                County
              %select#videoFindLeague{ :name => "league" }
                %option{ :value => "" }
                  \-League-
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
              %label.verbalSemantic{ :for => "videoFindLeague" }
                League
              %select#videoFindSport{ :name => "sport" }
                %option{ :value => "" }
                  \-Sport-
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
              %label.verbalSemantic{ :for => "videoFindSport" }
                Sport
              %input#videoFindSubmit.submit{ :name => "submit", :src => "images/video_find_submit.gif", :type => "image", :value => "search", :alt => "Search" }/
              %label.verbalSemantic{ :for => "videoFindSubmit" }
                Video Find
          .chat
            /
              note that this seemingly overcomplicated layout helps the text scale nicely when the user increases the font size
            .chatHeader
              %div
                %span
                  CHAT
            .chatTools
              /
                note that this seemingly overcomplicated layout helps the text scale nicely when the user increases the font size
              .chatAlert
                %div
                  %span.chatNotify
                    %span.chatInfo
                      1 NEW from Mike J...
                    %a.popLink{ :href => "#" }
                      pop out +
            .chatToolLinks
              %a{ :href => "#" }
                send invites
              |
              %a{ :href => "#" }
                my account
              |
              %a{ :href => "#" }
                mailbox (2)
        /
          end find/chat
        .profileContentArea.listingPage
          .profilePageHeader
            %h2.columnDescriptor
              %span
                PROFILE
              NORMAN GALE
          .leftNavCol
            .clearDiv.moreLinkArea
              %span.moreLink
                %a{ :href => "#" }
                  ? back to full profile
            %h2.yellowHeader
              My Profile
            .leftNav
              %ul
                %li.hilighted
                  %a{ :href => "#" }
                    Test
                %li
                  %a{ :href => "#" }
                    More test
          %form#EditProfile{ :action => "#", :method => "post" }
            .listings
              .profileContentBox
                .contentBoxHeader.yellowHeader
                  %h2.boxDescription
                    About Me
                /
                  two col layout
                .profileLeftCol
                  .profileBirthday
                    Gender :
                    %label.verbalSemantic{ :for => "Gender" }
                      Gender
                    %select#Gender{ :name => "Gender" }
                      %option{ :value => "Male" }
                        Male
                      %option{ :value => "Female" }
                        Female
                    %br/
                    %br/
                    Birthday :
                    %label.verbalSemantic{ :for => "BirthDay" }
                      BirthDay
                    %select#BirthDay{ :name => "BirthDay" }
                      %option{ :value => "1" }
                        1
                      %option{ :value => "2" }
                        2
                      %option{ :value => "3" }
                        3
                      %option{ :value => "4" }
                        4
                      %option{ :value => "5" }
                        5
                    %label.verbalSemantic{ :for => "BirthMonth" }
                      BirthMonth
                    %select#BirthMonth{ :name => "BirthMonth" }
                      %option{ :value => "Jan" }
                        January
                      %option{ :value => "Feb" }
                        Febuary
                    %label.verbalSemantic{ :for => "BirthYear" }
                      BirthYear
                    %select#BirthYear{ :name => "BirthYear" }
                      %option{ :value => "1980" }
                        1980
                      %option{ :value => "1981" }
                        1981
                  .ProfileFav
                    %strong
                      FAVOURITES
                    %br/
                    Enter your favorites here in the categories below - or create your own categories using the menu below.  Try to separate your favorites with commas, so that other people can search for the things you like.
                    %br/
                    %br/
                    %label{ :for => "TeamsAndSports" }
                      Teams & Sports
                    %br/
                    %textarea#TeamsAndSports{ :name => "TeamsAndSports", :rows => "4", :cols => "10" }/
                    %label{ :for => "MusicSongsArtist" }
                      Music, Songs & Artists
                    %br/
                    %textarea#MusicSongsArtist{ :name => "MusicSongsArtist", :rows => "4", :cols => "10" }/
                    %label{ :for => "MoviesAndTV" }
                      Movies & TV Shows
                    %br/
                    %textarea#MoviesAndTV{ :name => "MoviesAndTV", :rows => "4", :cols => "10" }/
                .profileRightCol
                  .ProfileYourCat
                    %strong
                      YOUR CATEGORIES
                    %br/
                    Have other favorite things you want to tell everyone about?  Enter a category name below, and then fill in your information.  For example, “Food” could be a category, and “Pizza” could be  the information you enter.
                  %br/
                  %br/
                  /
                    Cats start
                  .ProfileCat
                    %label.ProfileCatLabel{ :for => "CatName" }
                      Category
                    %input#CatName1.ProfileCatInput{ :name => "pCatName", :size => "30", :type => "text" }/
                    %br/
                    %br/
                    %label.ProfileCatLabel{ :for => "CatContent" }
                      Informaton
                    %textarea#CatContent1.ProfileCatInput{ :name => "CatContent", :rows => "4", :cols => "10" }/
                    .profileRem
                      %label.verbalSemantic{ :for => "addComment" }
                        Add Comment
                      %input#addComment.genericFormButton{ :name => "addComment", :type => "submit", :value => "Remove Category" }/
                      /
                        <input name="Remove Category" type="image" value="Rem" src="images/profile_remove_cat.gif" />
                  %br/
                  %br/
                  .ProfileCat
                    %label.ProfileCatLabel{ :for => "CatName" }
                      Category
                    %input#CatName.ProfileCatInput{ :name => "pCatName", :size => "30", :type => "text" }/
                    %br/
                    %br/
                    %label.ProfileCatLabel{ :for => "CatContent" }
                      Informaton
                    %textarea#CatContent.ProfileCatInput{ :name => "pCatContent", :rows => "4", :cols => "10" }/
                    .profileRem
                      %label.verbalSemantic{ :for => "addComment2" }
                        Add Comment
                      %input#addComment2.genericFormButton{ :name => "addComment2", :type => "submit", :value => "Remove Category" }/
                  .profileRem
                    %label.verbalSemantic{ :for => "addCat" }
                      Add Category
                    %input#addCat.genericFormButton{ :name => "addCat", :type => "submit", :value => "Add Category" }/
                  /
                    Cats end
                .clearDiv
                .ProfileSave
                  %span.profileRem
                    %label.verbalSemantic{ :for => "cancel" }
                      Cancel Changes
                    %input#cancel.genericFormButton{ :name => "cancel", :type => "submit", :value => "Cancel" }/
                  %span.profileRem
                    %label.verbalSemantic{ :for => "save" }
                      Save Changes
                    %input#save.genericFormButton{ :name => "save", :type => "submit", :value => "Save Changes" }/
              .clearDiv/
              .clearDiv/
          .clearDiv/
        /
          end content
        /
          Weekly Features
        .weeklyFeature
          .featureCol.featureVertRule.featureFloat.weeklyCol1
            .yellowHeader
              %h3
                Weekly Headline Here
            .featureSummaryThumb
              %img{ :src => "placeholders/large_story_thumb.jpg", :alt => "alt" }/
            .featureText
              %h3
                Headline
              %span.sportName
                Foosball
              %br/
              %span.date
                Neverembuary 44, 1981
              %br/
            .clearDiv/
          .featureCol.featureVertRule.featureFloat.weeklyCol2
            .yellowHeader
              %h3
                Weekly Headline Here
            .featureSummaryThumb
              %img{ :src => "placeholders/large_story_thumb.jpg", :alt => "alt" }/
            .featureText
              %h3
                Headline
              %span.sportName
                Foosball
              %br/
              %span.date
                Neverembuary 44, 1981
              %br/
            .featureSummaryThumb
              %img{ :src => "placeholders/large_story_thumb.jpg", :alt => "alt" }/
            .featureText
              %h3
                Headline
              %span.sportName
                Foosball
              %br/
              %span.date
                Neverembuary 44, 1981
              %br/
            .clearDiv/
          .featureCol.featureFloat.weeklyCol3
            .yellowHeader
              %h3
                Longer Weekly Headline Here
            %a.arrowButton{ :href => "#" }
              %img{ :src => "images/top_nav_search.gif", :alt => "alt" }/
        /
          end weekly features
        /
          footer/ads
        .footer
          .footerAds
            %span.footerAd
              %img{ :src => "placeholders/ad1.jpg", :alt => "alt" }/
            %span.footerAd
              %img{ :src => "placeholders/ad2.jpg", :alt => "alt" }/
            %span.footerAd
              %img{ :src => "placeholders/ad3.jpg", :alt => "alt" }/
            %span.footerAd
              %img{ :src => "placeholders/ad4.jpg", :alt => "alt" }/
        /
          end footer/ads
        .legal
          %span
            ? Global Sports 2008 |
            %a{ :href => "#" }
              Terms of Use
            |
            %a{ :href => "#" }
              Privacy Policy
            |
            %a{ :href => "#" }
              Advertising Opportunities
            |
            %a{ :href => "#" }
              Contact Us
