!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      \###PAGE TITLE HERE###
    %link{ :href => "styles/main.css", :rel => "stylesheet" }/
    /
      [if IE 6]>
      <style type="text/css">
      \.contentBoxHeader { background-image: none; }
      </style>
      <![endif]
  %body
    .backgroundContainer
      .outerContainer
        .util
          %span
            %a{ :href => "" }
              about
            |
            %a{ :href => "" }
              contact
            |
            %a{ :href => "" }
              help
            |
            %a{ :href => "" }
              logout
            %img{ :src => "images/lock.gif" }/
        /
          header/ads
        .header
          %h1.headerBrand
            Global Sports
          .headerPosition2
            %span
              %div
                %a{ :href => "#" }
                  %img{ :src => "placeholders/header_school_logo.jpg", :alt => "##TEXT EQUIVALENT##" }/
          .headerPosition1
            %span
              %div
                %a{ :href => "#" }/
                %img{ :src => "placeholders/header_ad_1.jpg", :alt => "##TEXT EQUIVALENT##" }/
          .headerAccountControl
            .headerAccountControlLinks
              %span
                Logged in as Norman Gale
                %a.logout{ :href => "#" }
                  logout
          .clearDiv/
        /
          end header/ads
        /
          top-nav
        .topNav
          %ul.leftTopNav
            %li
              %span#gnavMyNetwork.ROLLOVERIMAGE
                %a{ :href => "#" }
                  %span
                    My Network
            %li.divider
              %span#gnavMyVideos.ROLLOVERIMAGE
                %a{ :href => "#" }
                  %span
                    My Videos
            %li.divider
              %span#gnavMyProfile.ROLLOVERIMAGE
                %a{ :href => "#" }
                  %span
                    My Profile
          %form.rightTopNav{ :action => "#", :method => "get" }
            %h2
              Search Site
            %label.verbalSemantic{ :for => "searchCategory" }
              Category
            %select#searchCategory{ :name => "category" }
              %option{ :value => "" }
                All Categories
              %option{ :value => "" }
                Category
              %option{ :value => "" }
                Category
              %option{ :value => "" }
                Category
            %label.verbalSemantic{ :for => "searchTerms" }
              Search Terms
            %input#searchTerms{ :name => "terms", :type => "text" }/
            %input.submit{ :name => "submit", :type => "image", :src => "images/top_nav_search.gif", :value => "search", :alt => "Search" }/
        /
          end top-nav
        /
          find/chat
        .videoFindChat
          .videoFind
            %form#videoFind{ :action => "#", :method => "get" }
              %select#videoFindSeason{ :name => "season" }
                %option{ :value => "" }
                  \-Season-
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
              %label.verbalSemantic{ :for => "videoFindSeason" }
                Season
              %select#videoFindState{ :name => "state" }
                %option{ :value => "" }
                  \-State-
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
              %label.verbalSemantic{ :for => "videoFindState" }
                State
              %select#videoFindCounty{ :name => "county" }
                %option{ :value => "" }
                  \-County-
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
              %label.verbalSemantic{ :for => "videoFindCounty" }
                County
              %select#videoFindLeague{ :name => "league" }
                %option{ :value => "" }
                  \-League-
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
              %label.verbalSemantic{ :for => "videoFindLeague" }
                League
              %select#videoFindSport{ :name => "sport" }
                %option{ :value => "" }
                  \-Sport-
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
              %label.verbalSemantic{ :for => "videoFindSport" }
                Sport
              %input#videoFindSubmit.submit{ :name => "submit", :type => "image", :src => "images/video_find_submit.gif", :value => "search", :alt => "Search" }/
              %label.verbalSemantic{ :for => "videoFindSubmit" }
                Video Find
          .chat
            /
              note that this seemingly overcomplicated layout helps the text scale nicely when the user increases the font size
            .chatHeader
              %div
                %span
                  CHAT
            .chatTools
              /
                note that this seemingly overcomplicated layout helps the text scale nicely when the user increases the font size
              .chatAlert
                %div
                  %span.chatNotify
                    %span.chatInfo
                      1 NEW from Mike J...
                    %a.popLink{ :href => "#" }
                      pop out +
            .chatToolLinks
              %a{ :href => "" }
                send invites
              |
              %a{ :href => "" }
                my account
              |
              %a{ :href => "" }
                mailbox (2)
        /
          end find/chat
        .profileContentArea.listingPage
          .profilePageHeader
            %h2.columnDescriptor
              %span
                PROFILE
              NORMAN GALE
          .leftNavCol
            .clearDiv.moreLinkArea
              %span.moreLink
                %a{ :href => "" }
                  ? back to full profile
            %h2.yellowHeader
              My Profile
            .leftNav
              %ul
                %li.hilighted
                  %a{ :href => "" }
                    Test
                %li
                  %a{ :href => "" }
                    More test
          .listings
            .contentBox.tanBackground
              .contentBoxHeader.yellowHeader
                %h2.boxDescription
                  Friends
              .contentBoxContent.friendSearchWidgetArea
                %span.friendSearchColumn
                  Search:
                %span.friendSearchWidgetColumn
                  %label.verbalSemantic{ :for => "friendSearchTerms" }
                    Search Terms
                  %input#friendSearchTerms{ :name => "terms", :type => "text" }/
                  %input.submit{ :name => "submit", :type => "image", :src => "images/top_nav_search.gif", :value => "search", :alt => "Search" }/
                  %br/
                .clearDiv/
                %span.friendSearchColumn
                  Sort by:
                %span.friendSearchWidgetColumn
                  %label.verbalSemantic{ :for => "friendFindSortBy" }
                    Sort by
                  %select#friendFindSortBy{ :name => "sortBy" }
                    %option{ :value => "" }
                      Recent Updates
                    %option{ :value => "" }
                      Option
                    %option{ :value => "" }
                      Option
                    %option{ :value => "" }
                      Option
                  %br/
                .clearDiv/
                %span.friendSearchColumn
                  Show:
                %span.friendSearchWidgetColumn
                  %label.verbalSemantic{ :for => "friendFindShowNet" }
                    Show Network
                  %select#friendFindShowNet{ :name => "sortBy" }
                    %option{ :value => "" }
                      Recent Updates
                    %option{ :value => "" }
                      Option
                    %option{ :value => "" }
                      Option
                    %option{ :value => "" }
                      Option
                  %br/
            .clearDiv.moreLinkArea
              %span.moreLink
                %a{ :href => "" }
                  ? previous
                | 1-24 |
                %a{ :href => "" }
                  25-48
                |
                %a{ :href => "" }
                  49-72
                |
                %a{ :href => "" }
                  next ?
            /
              listing item
            .listingItem
              .listingImage
                %img{ :src => "placeholders/thumbnail_81x78.jpg", :alt => "##TEXT EQUIVALENT##" }/
              .listingDescription
                %h4
                  Cedar Knolls
                .schoolName
                  Meyzeek High School
                .recentFriendFeed
                  Created a new highlight reel called "Softball Strike-outs Spring 2008"
                  %span.moreLink
                    %a{ :href => "" }
                      view ?
              %ul.listingActions
                %li
                  %a.genericButton{ :href => "#" }
                    %span
                      View Profile
                %li
                  %a.genericButton{ :href => "#" }
                    %span
                      Send Message
                %li
                  %a.genericButton{ :href => "#" }
                    %span
                      Add To Favorites
              .clearDiv/
            /
              end listing item
            .clearDiv/
            /
              listing item
            .listingItem
              .listingImage
                %img{ :src => "placeholders/thumbnail_81x78.jpg", :alt => "##TEXT EQUIVALENT##" }/
              .listingDescription
                %h4
                  Cedar Knolls
                .schoolName
                  Meyzeek High School
                .recentFriendFeed
                  Created a new highlight reel called "Softball Strike-outs Spring 2008"
                  %span.moreLink
                    %a{ :href => "" }
                      view ?
              %ul.listingActions
                %li
                  %a.genericButton{ :href => "#" }
                    %span
                      View Profile
                %li
                  %a.genericButton{ :href => "#" }
                    %span
                      Send Message
                %li
                  %a.genericButton{ :href => "#" }
                    %span
                      Add To Favorites
              .clearDiv/
            /
              end listing item
            .clearDiv/
          .clearDiv/
        /
          end content
        .legal
          %span
            ? Global Sports 2008 |
            %a{ :href => "" }
              Terms of Use
            |
            %a{ :href => "" }
              Privacy Policy
            |
            %a{ :href => "" }
              Advertising Opportunities
            |
            %a{ :href => "" }
              Contact Us
