!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %link{ :href => "styles/main.css", :rel => "stylesheet" }/
    /
      [if IE 6]>
      <style type="text/css">
      \.contentBoxHeader { background-image: none; }
      </style>
      <![endif]
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }/
    %script{ :type => "text/javascript", :src => "scripts/profile.js" }/
  %body
    .backgroundContainer
      .outerContainer
        .util
          %span
            %a{ :href => "" }
              about
            |
            %a{ :href => "" }
              contact
            |
            %a{ :href => "" }
              help
            |
            %a{ :href => "" }
              logout
            %img{ :src => "images/lock.gif", :alt => "Padlock Icon" }/
        /
          header/ads
        .header
          %h1.headerBrand
            Global Sports
          .headerPosition2
            .structuralContainer
              %div
                %a{ :href => "#" }
                  %img{ :src => "placeholders/header_school_logo.jpg", :alt => "##TEXT EQUIVALENT##" }/
          .headerPosition1
            .structuralContainer
              %div
                %a{ :href => "#" }
                  %img{ :src => "placeholders/header_ad_1.jpg", :alt => "##TEXT EQUIVALENT##" }/
          .headerAccountControl
            .headerAccountControlLinks
              %span
                Logged in as Norman Gale
                %a.logout{ :href => "#" }
                  logout
          .clearDiv/
        /
          end header/ads
        /
          top-nav
        %form{ :action => "#", :method => "get" }
          .topNav
            %ul.leftTopNav
              %li
                %span#gnavMyNetwork.ROLLOVERIMAGE
                  %a{ :href => "#" }
                    %span
                      My Network
              %li.divider
                %span#gnavMyVideos.ROLLOVERIMAGE
                  %a{ :href => "#" }
                    %span
                      My Videos
              %li.divider
                %span#gnavMyProfile.ROLLOVERIMAGE
                  %a{ :href => "#" }
                    %span
                      My Profile
            .rightTopNav
              %h2
                Search Site
              %label.verbalSemantic{ :for => "searchCategory" }
                Category
              %select#searchCategory{ :name => "category" }
                %option{ :value => "" }
                  All Categories
                %option{ :value => "" }
                  Category
                %option{ :value => "" }
                  Category
                %option{ :value => "" }
                  Category
              %label.verbalSemantic{ :for => "searchTerms" }
                Search Terms
              %input#searchTerms{ :name => "terms", :type => "text" }/
              %input.submit{ :name => "submit", :src => "images/top_nav_search.gif", :type => "image", :value => "search", :alt => "Search" }/
        /
          end top-nav
        /
          find/chat
        .videoFindChat
          %form#videoFind{ :action => "#", :method => "get" }
            .videoFind
              %select#videoFindSeason{ :name => "season" }
                %option{ :value => "" }
                  \-Season-
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
              %label.verbalSemantic{ :for => "videoFindSeason" }
                Season
              %select#videoFindState{ :name => "state" }
                %option{ :value => "" }
                  \-State-
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
              %label.verbalSemantic{ :for => "videoFindState" }
                State
              %select#videoFindCounty{ :name => "county" }
                %option{ :value => "" }
                  \-County-
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
              %label.verbalSemantic{ :for => "videoFindCounty" }
                County
              %select#videoFindLeague{ :name => "league" }
                %option{ :value => "" }
                  \-League-
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
              %label.verbalSemantic{ :for => "videoFindLeague" }
                League
              %select#videoFindSport{ :name => "sport" }
                %option{ :value => "" }
                  \-Sport-
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
                %option{ :value => "" }
                  Option
              %label.verbalSemantic{ :for => "videoFindSport" }
                Sport
              %input#videoFindSubmit.submit{ :name => "submit", :src => "images/video_find_submit.gif", :type => "image", :value => "search", :alt => "Search" }/
              %label.verbalSemantic{ :for => "videoFindSubmit" }
                Video Find
          .chat
            /
              note that this seemingly overcomplicated layout helps the text scale nicely when the user increases the font size
            .chatHeader
              %div
                %span
                  CHAT
            .chatTools
              /
                note that this seemingly overcomplicated layout helps the text scale nicely when the user increases the font size
              .chatAlert
                %div
                  %span.chatNotify
                    %span.chatInfo
                      1 NEW from Mike J...
                    %a.popLink{ :href => "#" }
                      pop out +
            .chatToolLinks
              %a{ :href => "" }
                send invites
              |
              %a{ :href => "" }
                my account
              |
              %a{ :href => "" }
                mailbox (2)
        /
          end find/chat
        /
          3 col content
        .profileContentArea
          .profilePageHeader
            %h2.columnDescriptor
              SEARCH RESULTS
          .leftNavCol/
          .searchResultsContent
            .contentBox.tanBackground
              .contentBoxHeader.yellowHeader
                %h2.boxDescription
                  Search My Clips and Reels
              .advancedSearchTools
                %a{ :href => "" }
                  %img{ :src => "images/top_nav_search.gif", :alt => "Video Advanced Search Button" }/
                %span
                  VIDEO ADVANCED SEARCH
                .clearDiv/
                %a{ :href => "" }
                  %img{ :src => "images/top_nav_search.gif", :alt => "Video Advanced Search Button" }/
                %span
                  NETWORK ADVANCED SEARCH
              .contentBoxContent.friendSearchWidgetArea
                %span.friendSearchColumn
                  Search:
                %span.friendSearchWidgetColumn
                  the rolling stones
                .clearDiv/
                %span.friendSearchColumn
                  Sort by:
                %span.friendSearchWidgetColumn
                  %label.verbalSemantic{ :for => "friendFindSortBy" }
                    Sort by
                  %select#friendFindSortBy{ :name => "sortBy" }
                    %option{ :value => "" }
                      Recent Updates
                    %option{ :value => "" }
                      Option
                    %option{ :value => "" }
                      Option
                    %option{ :value => "" }
                      Option
                  %br/
                .clearDiv/
                %span.friendSearchColumn
                  Show:
                %span.friendSearchWidgetColumn
                  %label.verbalSemantic{ :for => "friendFindShowNet" }
                    Show Network
                  %select#friendFindShowNet{ :name => "sortBy" }
                    %option{ :value => "" }
                      Recent Updates
                    %option{ :value => "" }
                      Option
                    %option{ :value => "" }
                      Option
                    %option{ :value => "" }
                      Option
                  %br/
              .clearDiv/
            .clearDiv/
            /
              col1 content
            .mainCol1
              %h2.columnDescriptor
                VIDEOS
              .contentBox.tanBackground
                .contentBoxContent
                  .profileFeature
                    .featureSummaryThumb
                      %img{ :src => "placeholders/large_story_thumb.jpg", :alt => "Story Image" }/
                    .featureText
                      %span.profileSubHeading
                        Grid Iron Slam Bam
                      %br/
                      %span.featureSummaryText
                        Wednesday 3/4/5
                      %br/
                    .clearDiv/
              .contentBox.tanBackground
                .contentBoxContent
                  .profileFeature
                    .featureSummaryThumb
                      %img{ :src => "placeholders/large_story_thumb.jpg", :alt => "Story Image" }/
                    .featureText
                      %span.profileSubHeading
                        Grid Iron Slam Bam
                      %br/
                      %span.featureSummaryText
                        Wednesday 3/4/5
                      %br/
                    .clearDiv/
              .contentBox.tanBackground
                .contentBoxContent
                  .profileFeature
                    .featureSummaryThumb
                      %img{ :src => "placeholders/large_story_thumb.jpg", :alt => "Story Image" }/
                    .featureText
                      %span.profileSubHeading
                        Grid Iron Slam Bam
                      %br/
                      %span.featureSummaryText
                        Wednesday 3/4/5
                      %br/
                    .clearDiv/
              .contentBox.tanBackground
                .contentBoxContent
                  .profileFeature
                    .featureSummaryThumb
                      %img{ :src => "placeholders/large_story_thumb.jpg", :alt => "Story Image" }/
                    .featureText
                      %span.profileSubHeading
                        Grid Iron Slam Bam
                      %br/
                      %span.featureSummaryText
                        Wednesday 3/4/5
                      %br/
                    .clearDiv/
              .contentBox.tanBackground
                .contentBoxContent
                  .profileFeature
                    .featureSummaryThumb
                      %img{ :src => "placeholders/large_story_thumb.jpg", :alt => "Story Image" }/
                    .featureText
                      %span.profileSubHeading
                        Grid Iron Slam Bam
                      %br/
                      %span.featureSummaryText
                        Wednesday 3/4/5
                      %br/
                    .clearDiv/
              .contentBox.tanBackground
                .contentBoxContent
                  .profileFeature
                    .featureSummaryThumb
                      %img{ :src => "placeholders/large_story_thumb.jpg", :alt => "Story Image" }/
                    .featureText
                      %span.profileSubHeading
                        Grid Iron Slam Bam
                      %br/
                      %span.featureSummaryText
                        Wednesday 3/4/5
                      %br/
                    .clearDiv/
            /
              col2 content
            .mainCol2
              %h2.columnDescriptor
                NETWORK
              .contentBox.tanBackground
                .contentBoxContent
                  .profileFeature
                    .featureSummaryThumb
                      %img{ :src => "placeholders/profile_search_res_pic.jpg", :alt => "Friend Photograph" }/
                    .featureText
                      %span.profileSubHeading
                        Liz Waters
                      %br/
                      %span.featureSummaryText
                        Mezeek HS
                      %br/
                    .clearDiv/
              .contentBox.tanBackground
                .contentBoxContent
                  .profileFeature
                    .featureSummaryThumb
                      %img{ :src => "placeholders/profile_search_res_pic.jpg", :alt => "Friend Photograph" }/
                    .featureText
                      %span.profileSubHeading
                        Liz Waters
                      %br/
                      %span.featureSummaryText
                        Mezeek HS
                      %br/
                    .clearDiv/
              .contentBox.tanBackground
                .contentBoxContent
                  .profileFeature
                    .featureSummaryThumb
                      %img{ :src => "placeholders/profile_search_res_pic.jpg", :alt => "Friend Photograph" }/
                    .featureText
                      %span.profileSubHeading
                        Liz Waters
                      %br/
                      %span.featureSummaryText
                        Mezeek HS
                      %br/
                    .clearDiv/
              .contentBox.tanBackground
                .contentBoxContent
                  .profileFeature
                    .featureSummaryThumb
                      %img{ :src => "placeholders/profile_search_res_pic.jpg", :alt => "Friend Photograph" }/
                    .featureText
                      %span.profileSubHeading
                        Liz Waters
                      %br/
                      %span.featureSummaryText
                        Mezeek HS
                      %br/
                    .clearDiv/
              .contentBox.tanBackground
                .contentBoxContent
                  .profileFeature
                    .featureSummaryThumb
                      %img{ :src => "placeholders/profile_search_res_pic.jpg", :alt => "Friend Photograph" }/
                    .featureText
                      %span.profileSubHeading
                        Liz Waters
                      %br/
                      %span.featureSummaryText
                        Mezeek HS
                      %br/
                    .clearDiv/
              .contentBox.tanBackground
                .contentBoxContent
                  .profileFeature
                    .featureSummaryThumb
                      %img{ :src => "placeholders/profile_search_res_pic.jpg", :alt => "Friend Photograph" }/
                    .featureText
                      %span.profileSubHeading
                        Liz Waters
                      %br/
                      %span.featureSummaryText
                        Mezeek HS
                      %br/
                    .clearDiv/
            /
              col3 content
            .mainCol3
              %h2.columnDescriptor
                EVERYTHING ELSE
              .contentBox.tanBackground
                .contentBoxContent
                  .profileFeature
                    .featureSummaryThumb.hdSearchPreview
                      %img{ :src => "placeholders/thumbnail_81x54.jpg", :alt => "Video Clip Preview" }/
                    .featureText
                      %span.profileSubHeading
                        Liz Waters
                      %br/
                      %span.featureSummaryText
                        Mezeek HS
                      %br/
                    .clearDiv/
              .contentBox.tanBackground
                .contentBoxContent
                  .profileFeature
                    .featureSummaryThumb.fileSearchPreview
                      .fileThumb
                        %a.fileName{ :href => "" }
                          %span
                            File na...
                    .featureText
                      %span.profileSubHeading
                        Liz Waters
                      %br/
                      %span.featureSummaryText
                        Mezeek HS
                      %br/
                    .clearDiv/
              .contentBox.tanBackground
                .contentBoxContent
                  .profileFeature
                    .featureSummaryThumb.hdSearchPreview
                      %img{ :src => "placeholders/thumbnail_81x54.jpg", :alt => "Video Clip Preview" }/
                    .featureText
                      %span.profileSubHeading
                        Liz Waters
                      %br/
                      %span.featureSummaryText
                        Mezeek HS
                      %br/
                    .clearDiv/
              .contentBox.tanBackground
                .contentBoxContent
                  .profileFeature
                    .featureSummaryThumb.fileSearchPreview
                      .fileThumb
                        %a.fileName{ :href => "" }
                          %span
                            File na...
                    .featureText
                      %span.profileSubHeading
                        Liz Waters
                      %br/
                      %span.featureSummaryText
                        Mezeek HS
                      %br/
                    .clearDiv/
              .contentBox.tanBackground
                .contentBoxContent
                  .profileFeature
                    .featureSummaryThumb.fileSearchPreview
                      .fileThumb
                        %a.fileName{ :href => "" }
                          %span
                            File na...
                    .featureText
                      %span.profileSubHeading
                        Liz Waters
                      %br/
                      %span.featureSummaryText
                        Mezeek HS
                      %br/
                    .clearDiv/
              .contentBox.tanBackground
                .contentBoxContent
                  .profileFeature
                    .featureSummaryThumb.fileSearchPreview
                      .fileThumb
                        %a.fileName{ :href => "" }
                          %span
                            File na...
                    .featureText
                      %span.profileSubHeading
                        Liz Waters
                      %br/
                      %span.featureSummaryText
                        Mezeek HS
                      %br/
                    .clearDiv/
          .clearDiv/
        /
          end 3 col content
        .clearDiv/
        /
          footer/ads
        .footer
          .footerAds
            %span.footerAd
              %img{ :src => "placeholders/ad1.jpg", :alt => "advertisment" }/
            %span.footerAd
              %img{ :src => "placeholders/ad2.jpg", :alt => "advertisment" }/
            %span.footerAd
              %img{ :src => "placeholders/ad3.jpg", :alt => "advertisment" }/
            %span.footerAd
              %img{ :src => "placeholders/ad4.jpg", :alt => "advertisment" }/
        /
          end footer/ads
        .legal
          %span
            ? Global Sports 2008 |
            %a{ :href => "" }
              Terms of Use
            |
            %a{ :href => "" }
              Privacy Policy
            |
            %a{ :href => "" }
              Advertising Opportunities
            |
            %a{ :href => "" }
              Contact Us
