- photo_type ||= nil

- options ||= {}
- options[:alt]= h photo.description
- options[:title]= h photo.description

= link_to image_tag(photo.public_filename(photo_type), options), user_photo_path(photo.user, photo)

