.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        =link_to _('MY CLIPS'), user_video_clips_path(@user.id)
      = @user.full_name
      
  =render :partial => "users/profile_nav"

  .listings
    - if @video_clips.any?
      = render :partial => 'video_listing', :collection => @video_clips
    
      - if @video_clips.respond_to?('total_pages')
        .apple_pagination
          = will_paginate @video_clips
          
    -else
      .box
        You don't have any video clips yet.
    
