- @section = 'promotions'
- @page_title = _('NEW PROMOTION')

.forumContentArea
  .listingPage
    .profilePageHeader
      %h2.columnDescriptor
        %span
          =link_to 'PROMOTIONS', promotions_path

  =render :partial => "users/profile_nav"    
  .listings
    .contentBox.tanBackground
      .contentBoxHeader.yellowHeader
        .boxDescription
          = _('Promotion Details')
      .contentBoxContent      
        - form_for :promotion, :url => promotions_path, :html => {:class => "MainForm"} do |f|
          = render :partial => "form", :object => f
          %p= submit_tag _('Create'), :or => link_to(_('Cancel'), promotions_path)