.profileContentArea.listingPage
  .profilePageHeader
    %h2.columnDescriptor
      %span
        New Team Sport
  .listings
    .listingItem

      = error_messages_for :team_sport
      
      - form_for(@team_sport, :url => team_sport_url(@team_sport), :html => {:multipart => true}) do |f|
        = render :partial => "form", :locals => { :f => f }
        %p= f.submit "Create"
          
      = link_to 'Back', team_sports_path
